{% extends 'projeto/base/base.html' %}
{% load filters %}

{% block title %}
    {% if Tipo_Transacao == 'INS' %}
        Cadastrar novo Aluno | GEscolar 
    {% elif Tipo_Transacao == 'UPD' %}
        Alterar Aluno | GEscolar 
    {% elif Tipo_Transacao == 'CON' %}
        Consultar Aluno | GEscolar
    {% elif Tipo_Transacao == 'DEL' %}
        Apagar Aluno | GEscolar
    {% endif %}
{% endblock  %}


{% block main %}

    {% if Tipo_Transacao == 'INS' %}
        <h2><b>Cadastrar Aluno</b></h2>     
    {% elif Tipo_Transacao == 'UPD' %}
        <h2><b>Atualizar dados do Aluno</b></h2>     
    {% elif Tipo_Transacao == 'CON' %}
        <h2><b>Consultar Aluno</b></h2>     
    {% elif Tipo_Transacao == 'DEL' %}
        <h2><b>Apagar Aluno</b></h2>    
    {% endif %}

    <ul class="list-group list-group-flush mb-3 mt-3">
    {% for erro in erros %}
        <li class="list-group-item text-danger text-justify">{{ erro|tira_lista }}</li>
    {% endfor %}
    </ul>

    <form action="
            {% if Tipo_Transacao == 'INS' %}
                {% url 'aluno_novo' %}
            {% elif Tipo_Transacao == 'UPD' %}
                {% url 'aluno_alterar' idAluno %}
            {% elif Tipo_Transacao == 'CON' %}
                {% url 'aluno_consultar' idAluno %}
            {% elif Tipo_Transacao == 'DEL' %}
                {% url 'aluno_deletar' idAluno %}
            {% endif %}
        " method="POST" class="form">
        {% csrf_token %}

        {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
            <fieldset class="container-fluid">
                <div class="row">
                    <div class="form-group col-md-5">
                        <label for="id_Nome" >Nome:</label> 
                        <input type="text" name="Nome" maxlength="50" class="form-control" required id="id_Nome" value='{{ aluno_dados.Nome }}'>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="id_Sexo">Sexo:</label> 
                        <select name="Sexo" id="id_Sexo" class="form-control">
                            {% for sexo in Tipo_Sexo %}
                                {% if aluno_dados.Sexo == sexo.0 %}
                                    <option value="{{ sexo.0 }}" selected>{{ sexo.1 }}</option>
                                {% else %}
                                    <option value="{{ sexo.0 }}" >{{ sexo.1 }}</option>
                                {% endif %}
                            {% endfor %}       
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Data_Nascimento">Data de Nascimento:</label> 
                        <input type="date" name="Data_Nascimento" class="form-control" required id="id_Data_Nascimento" value='{{ aluno_dados.Data_Nascimento|data_retorno }}'>
                    </div>
                </div>

                <div class="row">  
                    <div class="form-group col-md-4">
                        <label for="id_Cidade_Nascimento">Cidade de Nascimento:</label> 
                        <input type="text" name="Cidade_Nascimento" maxlength="40" class="form-control" required id="id_Cidade_Nascimento" value='{{ aluno_dados.Cidade_Nascimento }}'>                
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Estado_Nascimento">Estado de Nascimento:</label> 
                        <input type="text" name="Estado_Nascimento" maxlength="40" class="form-control" required id="id_Estado_Nascimento" value='{{ aluno_dados.Estado_Nascimento }}'>                
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Nacionalidade">Nacionalidade:</label> 
                        <input type="text" name="Nacionalidade" maxlength="20" class="form-control" required id="id_Nacionalidade" value='{{ aluno_dados.Nacionalidade }}'>                
                    </div>
                </div>

                <div class="row">  
                    <div class="form-group col-md-3">
                        <label for="id_Cpf">CPF:</label> 
                        <input type="text" name="Cpf" class="form-control" required maxlength="11" id="id_Cpf" value='{{ aluno_dados.Cpf }}'>               
                    </div>

                    <div class="form-group col-md-3">
                        <label for="id_Rg">RG:</label> 
                        <input type="text" name="Rg" maxlength="9" class="form-control" required id="id_Rg" value='{{ aluno_dados.Rg }}'>                
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Ra">RA:</label> 
                        <input type="text" name="Ra" maxlength="20" class="form-control" required id="id_Ra" value='{{ aluno_dados.Ra }}'>                
                    </div>
                </div>

                <div class="row"> 
                    <div class="form-group col-md-4">
                        <label for="id_Nome_Pai">Nome do Pai:</label> 
                        <input type="text" name="Nome_Pai" maxlength="40" class="form-control" required id="id_Nome_Pai" value='{{ aluno_dados.Nome_Pai }}'>                
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Nome_Mae">Nome da Mãe:</label> 
                        <input type="text" name="Nome_Mae" maxlength="40" class="form-control" required id="id_Nome_Mae" value='{{ aluno_dados.Nome_Mae }}'>                
                    </div>
                   
                    <div class="form-group col-md-3">
                        <label for="id_Numero1">Telefone 1:</label>
                        <input type="text" name="Numero1" maxlength="20" class="form-control" required id="id_Numero1" value='{{ telefone_dados.Numero1 }}'>
                    </div>
                </div>

                <div class="row">  
                    <div class="form-group col-md-3">
                        <label for="id_Numero2">Telefone 2:</label>
                        <input type="text" name="Numero2" maxlength="20" class="form-control" required id="id_Numero2" value='{{ telefone_dados.Numero2 }}'>
                    </div>

                    <div class="form-group col-md-6"> 
                        <label for="id_email">Email:</label> 
                        <input type="email" name="email" maxlength="254" class="form-control" required id="id_email" value='{{ usuario_dados.email }}'>     
                    </div>

                    <div class="form-group col-md-2">
                        <label for="id_ativo">Ativo:</label>
                        <select name="is_active" id="id_ativo" class="form-control">
                            {% for status in Tipo_Status %}
                                {% if usuario_dados.is_active == status.0 %}
                                    <option value="{{ status.0 }}" selected>{{ status.1 }}</option>
                                {% else %}
                                    <option value="{{ status.0 }}" >{{ status.1 }}</option>
                                {% endif %}
                            {% endfor %}       
                        </select>
                    </div>
                </div>
            </fieldset>

            <!-- Matricula -->
            {% if Tipo_Transacao != 'INS' %}
                <fieldset class="container-fluid">
                    <div class="row">  
                        <div class="form-group col-md-2">
                            <label for="id_Rm">RM:</label> 
                            <input type="text" name="Rm" class="form-control" disabled  id="id_Rm" value='{{ matricula_dados.Rm }}'>                
                        </div>

                        <div class="form-group col-md-4">
                            <label for="id_Data">Data da Matrícula:</label> 
                            <input type="date" name="Data" class="form-control" disabled id="id_Data" value='{{ matricula_dados.Data|data_retorno }}'>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="id_Situacao">Status da Matrícula:</label>     
                            <select name="Situacao" id="id_Situacao" class="form-control">
                                {% for situacao in Tipos_Situacao %}
                                    {% if matricula_dados.Situacao == situacao.0 %}
                                        <option value="{{ situacao.0 }}" selected>{{ situacao.1 }}</option>
                                    {% else %}
                                        <option value="{{ situacao.0 }}" >{{ situacao.1 }}</option>
                                    {% endif %}
                                {% endfor %}       
                            </select>
                        </div>
                    </div>
                </fieldset>
            {% endif %}

            <!-- Perfil social -->
            <fieldset class="container-fluid">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="id_Irmao_Gemeo">Irmão Gêmeo:</label>
                        <select name="Irmao_Gemeo" id="id_Irmao_Gemeo" class="form-control">
                            {% for op in Sim_Nao %}
                                {% if aluno_dados.Irmao_Gemeo == op.0 %}
                                    <option value="{{ op.0 }}" selected>{{ op.1 }}</option>
                                {% else %}
                                    <option value="{{ op.0 }}" >{{ op.1 }}</option>
                                {% endif %}
                            {% endfor %}       
                        </select>
                    </div>

                    <div class="form-group col-md-6"> 
                        <label for="id_Necessidade_Educacional_Especial">Necessidade Educacional Especial:</label>
                        <select name="Necessidade_Educacional_Especial" id="id_Necessidade_Educacional_Especial" class="form-control">
                            {% for op in Sim_Nao %} 
                                {% if aluno_dados.Necessidade_Educacional_Especial == op.0 %}
                                    <option value="{{ op.0 }}" selected>{{ op.1 }}</option>
                                {% else %}
                                    <option value="{{ op.0 }}" >{{ op.1 }}</option>
                                {% endif %}
                            {% endfor %}       
                        </select>
                    </div>
                </div>

                <div class="row"> 
                    <div class="form-group col-md-3">
                        <label for="id_Superdotacao">Superdotação:</label>
                        <select name="Superdotacao" id="id_Superdotacao" class="form-control">
                            {% for op in Sim_Nao %}
                                {% if aluno_dados.Superdotacao == op.0 %}
                                    <option value="{{ op.0 }}" selected>{{ op.1 }}</option>
                                {% else %}
                                    <option value="{{ op.0 }}" >{{ op.1 }}</option>
                                {% endif %}
                            {% endfor %}  
                        </select> 
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Deficiencia">Deficiência:</label>
                        <select name="Deficiencia" id="id_Deficiencia" class="form-control">
                            {% for deficiencia in Tipos_Deficiencia %}
                                {% if aluno_dados.Deficiencia == deficiencia.0 %}
                                    <option value="{{ deficiencia.0 }}" selected>{{ deficiencia.1 }}</option>
                                {% else %}
                                    <option value="{{ deficiencia.0 }}" >{{ deficiencia.1 }}</option>
                                {% endif %}
                            {% endfor %}  
                        </select> 
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Bolsa_Familia">Bolsa Familia:</label>
                        <select name="Bolsa_Familia" id="id_Bolsa_Familia" class="form-control">
                            {% for op in Sim_Nao %}
                                {% if aluno_dados.Bolsa_Familia == op.0 %}
                                    <option value="{{ op.0 }}" selected>{{ op.1 }}</option>
                                {% else %}
                                    <option value="{{ op.0 }}" >{{ op.1 }}</option>
                                {% endif %}
                            {% endfor %}  
                        </select> 
                    </div>
                </div>

                <div class="row"> 
                    <div class="form-group col-md-7">
                        <label for="id_Transtorno_Global_do_Desenvolvimento">Transtorno Global do Desenvolvimento:</label>                    
                        <select name="Transtorno_Global_do_Desenvolvimento" id="id_Transtorno_Global_do_Desenvolvimento" class="form-control">
                            {% for transtorno in Tipos_Transtorno %}
                                {% if aluno_dados.Transtorno_Global_do_Desenvolvimento == transtorno.0 %}
                                    <option value="{{ transtorno.0 }}" selected>{{ transtorno.1 }}</option>
                                {% else %}
                                    <option value="{{ transtorno.0 }}" >{{ transtorno.1 }}</option>
                                {% endif %}
                            {% endfor %}  
                        </select> 
                    </div>
                </div>
            </fieldset>

            <fieldset class="container-fluid">
                <div class="row"> 
                    <div class="form-group col-md-5">
                        <label for="id_Rua">Rua:</label>
                        <input type="text" name="Rua" maxlength="40" class="form-control" required id="id_Rua" value='{{ endereco_dados.Rua }}'>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="id_Numero">Número:</label>
                        <input type="number" name="Numero" min="0" max="99999" class="form-control" required id="id_Numero" value='{{ endereco_dados.Numero }}'>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="id_Bairro">Bairro:</label>
                        <input type="text" name="Bairro" maxlength="40" class="form-control" required id="id_Bairro" value='{{ endereco_dados.Bairro }}'>
                    </div>
                </div>   

                <div class="row">                      
                    <div class="form-group col-md-4">
                        <label for="id_Cidade">Cidade:</label>
                        <input type="text" name="Cidade" maxlength="40" class="form-control" required id="id_Cidade" value='{{ endereco_dados.Cidade }}'>
                    </div>
                    
                    <div class="form-group col-md-1">
                        <label for="id_Estado">Estado:</label>
                        <input type="text" name="Estado" maxlength="2" class="form-control" required id="id_Estado" value='{{ endereco_dados.Estado }}'>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="id_Complemento">Complemento:</label>
                        <input type="text" name="Complemento" maxlength="100" class="form-control" id="id_Complemento" value='{{ endereco_dados.Complemento|corrige_none }}'>
                    </div>
                    
                    <div class="form-group col-md-2">
                        <label for="id_Zona">Zona:</label>
                        <select name="Zona" id="id_Zona" class="form-control">
                            {% for zona in zonas %}
                                {% if endereco_dados.Zona == zona.0 %}
                                    <option value="{{ zona.0 }}" selected>{{ zona.1 }}</option>
                                {% else %}
                                    <option value="{{ zona.0 }}" >{{ zona.1 }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>

        {% else %}
            <fieldset class="container-fluid">
                <div class="row">
                    <div class="form-group col-md-5">
                        <label for="id_Nome">Nome:</label> 
                        <input type="text" name="Nome" maxlength="50" class="form-control" disabled  id="id_Nome" value='{{ aluno_dados.Nome }}'>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="id_Sexo">Sexo:</label> 
                        <select name="Sexo" id="id_Sexo" disabled class="form-control">
                            {% for sexo in Tipo_Sexo %}
                                {% if aluno_dados.Sexo == sexo.0 %}
                                    <option value="{{ sexo.0 }}" selected>{{ sexo.1 }}</option>
                                {% else %}
                                    <option value="{{ sexo.0 }}" >{{ sexo.1 }}</option>
                                {% endif %}
                            {% endfor %}       
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Data_Nascimento">Data de Nascimento:</label> 
                        <input type="date" name="Data_Nascimento" class="form-control" disabled  id="id_Data_Nascimento" value='{{ aluno_dados.Data_Nascimento|data_retorno }}'>
                    </div>
                </div>

                <div class="row">  
                    <div class="form-group col-md-4">
                        <label for="id_Cidade_Nascimento">Cidade de Nascimento:</label> 
                        <input type="text" name="Cidade_Nascimento" class="form-control" disabled maxlength="40"  id="id_Cidade_Nascimento" value='{{ aluno_dados.Cidade_Nascimento }}'>                
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Estado_Nascimento">Estado de Nascimento:</label> 
                        <input type="text" name="Estado_Nascimento" class="form-control" disabled maxlength="40"  id="id_Estado_Nascimento" value='{{ aluno_dados.Estado_Nascimento }}'>                
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Nacionalidade">Nacionalidade:</label> 
                        <input type="text" name="Nacionalidade" class="form-control" disabled maxlength="20"  id="id_Nacionalidade" value='{{ aluno_dados.Nacionalidade }}'>                
                    </div>
                </div>

                <div class="row">  
                    <div class="form-group col-md-3">
                        <label for="id_Cpf">CPF:</label> 
                        <input type="text" name="Cpf"  class="form-control" disabled maxlength="11" id="id_Cpf" value='{{ aluno_dados.Cpf }}'>               
                    </div>

                    <div class="form-group col-md-3">
                        <label for="id_Rg">RG:</label> 
                        <input type="text" name="Rg" class="form-control" disabled maxlength="9"  id="id_Rg" value='{{ aluno_dados.Rg }}'>                
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Ra">RA:</label> 
                        <input type="text" name="Ra" class="form-control" disabled maxlength="20"  id="id_Ra" value='{{ aluno_dados.Ra }}'>                
                    </div>
                </div>

                <div class="row">  
                    <div class="form-group col-md-4">
                        <label for="id_Nome_Pai">Nome do Pai:</label> 
                        <input type="text" name="Nome_Pai" class="form-control" disabled maxlength="40"  id="id_Nome_Pai" value='{{ aluno_dados.Nome_Pai }}'>                
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Nome_Mae">Nome da Mãe:</label> 
                        <input type="text" name="Nome_Mae" class="form-control" disabled maxlength="40"  id="id_Nome_Mae" value='{{ aluno_dados.Nome_Mae }}'>                
                    </div>
                    
                    <div class="form-group col-md-3">
                        <label for="id_Numero1">Telefone 1:</label>
                        <input type="text" name="Numero1" class="form-control" disabled maxlength="20"  id="id_Numero1" value='{{ telefone_dados.Numero1 }}'>
                    </div>
                </div>

                <div class="row">  
                    <div class="form-group col-md-3">
                        <label for="id_Numero2">Telefone 2:</label>
                        <input type="text" name="Numero2" class="form-control" disabled maxlength="20"  id="id_Numero2" value='{{ telefone_dados.Numero2 }}'>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="id_email">Email:</label> 
                        <input type="email" name="email" class="form-control" disabled maxlength="254"  id="id_email" value='{{ usuario_dados.email }}'>     
                    </div>

                    <div class="form-group col-md-2">
                        <label for="id_ativo">Ativo:</label>
                        <select name="is_active" id="id_ativo" disabled class="form-control">
                            {% for status in Tipo_Status %}
                                {% if usuario_dados.is_active == status.0 %}
                                    <option value="{{ status.0 }}" selected>{{ status.1 }}</option>
                                {% else %}
                                    <option value="{{ status.0 }}" >{{ status.1 }}</option>
                                {% endif %}
                            {% endfor %}       
                        </select>
                    </div>
                </div>
            </fieldset>

            <!-- Matricula -->
            {% if Tipo_Transacao != 'INS' %}
                <fieldset class="container-fluid">
                    <div class="row">  
                        <div class="form-group col-md-2">
                            <label for="id_Rm">RM:</label> 
                            <input type="text" name="Rm" class="form-control" disabled  id="id_Rm" value='{{ matricula_dados.Rm }}'>                
                        </div>

                        <div class="form-group col-md-4">
                            <label for="id_Data">Data da Matrícula:</label> 
                            <input type="date" name="Data" class="form-control" disabled id="id_Data" value='{{ matricula_dados.Data|data_retorno }}'>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="id_Situacao">Status da Matrícula:</label>     
                            <select name="Situacao" id="id_Situacao" disabled class="form-control">
                                {% for situacao in Tipos_Situacao %}
                                    {% if matricula_dados.Situacao == situacao.0 %}
                                        <option value="{{ situacao.0 }}" selected>{{ situacao.1 }}</option>
                                    {% else %}
                                        <option value="{{ situacao.0 }}" >{{ situacao.1 }}</option>
                                    {% endif %}
                                {% endfor %}       
                            </select>
                        </div>
                    </div>
                </fieldset>
            {% endif %}

            <!-- Perfil social -->
            <fieldset class="container-fluid">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="id_Irmao_Gemeo">Irmão Gêmeo:</label>
                        <select name="Irmao_Gemeo" id="id_Irmao_Gemeo" disabled class="form-control">
                            {% for op in Sim_Nao %}
                                {% if aluno_dados.Irmao_Gemeo == op.0 %}
                                    <option value="{{ op.0 }}" selected>{{ op.1 }}</option>
                                {% else %}
                                    <option value="{{ op.0 }}" >{{ op.1 }}</option>
                                {% endif %}
                            {% endfor %}       
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="id_Necessidade_Educacional_Especial">Necessidade Educacional Especial:</label>
                        <select name="Necessidade_Educacional_Especial" id="id_Necessidade_Educacional_Especial" disabled class="form-control">
                            {% for op in Sim_Nao %}
                                {% if aluno_dados.Necessidade_Educacional_Especial == op.0 %}
                                    <option value="{{ op.0 }}" selected>{{ op.1 }}</option>
                                {% else %}
                                    <option value="{{ op.0 }}" >{{ op.1 }}</option>
                                {% endif %}
                            {% endfor %}       
                        </select>
                    </div>
                </div>

                <div class="row"> 
                    <div class="form-group col-md-3">
                        <label for="id_Superdotacao">Superdotacao:</label>
                        <select name="Superdotacao" id="id_Superdotacao" disabled class="form-control">
                            {% for op in Sim_Nao %}
                                {% if aluno_dados.Superdotacao == op.0 %}
                                    <option value="{{ op.0 }}" selected>{{ op.1 }}</option>
                                {% else %}
                                    <option value="{{ op.0 }}" >{{ op.1 }}</option>
                                {% endif %}
                            {% endfor %}  
                        </select> 
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Deficiencia">Deficiencia:</label>
                        <select name="Deficiencia" id="id_Deficiencia" disabled class="form-control">
                            {% for deficiencia in Tipos_Deficiencia %}
                                {% if aluno_dados.Deficiencia == deficiencia.0 %}
                                    <option value="{{ deficiencia.0 }}" selected>{{ deficiencia.1 }}</option>
                                {% else %}
                                    <option value="{{ deficiencia.0 }}" >{{ deficiencia.1 }}</option>
                                {% endif %}
                            {% endfor %}  
                        </select> 
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Bolsa_Familia">Bolsa Familia:</label>
                        <select name="Bolsa_Familia" id="id_Bolsa_Familia" disabled class="form-control">
                            {% for op in Sim_Nao %}
                                {% if aluno_dados.Bolsa_Familia == op.0 %}
                                    <option value="{{ op.0 }}" selected>{{ op.1 }}</option>
                                {% else %}
                                    <option value="{{ op.0 }}" >{{ op.1 }}</option>
                                {% endif %}
                            {% endfor %}  
                        </select> 
                    </div>                    
                </div>

                <div class="row"> 
                    <div class="form-group col-md-7">
                        <label for="id_Transtorno_Global_do_Desenvolvimento">Transtorno Global do Desenvolvimento:</label>                    
                        <select name="Transtorno_Global_do_Desenvolvimento" id="id_Transtorno_Global_do_Desenvolvimento" disabled class="form-control">
                            {% for transtorno in Tipos_Transtorno %}
                                {% if aluno_dados.Transtorno_Global_do_Desenvolvimento == transtorno.0 %}
                                    <option value="{{ transtorno.0 }}" selected>{{ transtorno.1 }}</option>
                                {% else %}
                                    <option value="{{ transtorno.0 }}" >{{ transtorno.1 }}</option>
                                {% endif %}
                            {% endfor %}  
                        </select> 
                    </div>
                </div>
            </fieldset>

            <fieldset class="container-fluid">
                <div class="row"> 
                    <div class="form-group col-md-5">
                        <label for="id_Rua">Rua:</label>
                        <input type="text" name="Rua" class="form-control" disabled maxlength="40"  id="id_Rua" value='{{ endereco_dados.Rua }}'>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="id_Numero">Número:</label>
                        <input type="number" name="Numero" class="form-control" disabled min="0" max="99999"  id="id_Numero" value='{{ endereco_dados.Numero }}'>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="id_Bairro">Bairro:</label>
                        <input type="text" name="Bairro" class="form-control" disabled maxlength="40"  id="id_Bairro" value='{{ endereco_dados.Bairro }}'>
                    </div>
                </div>   

                <div class="row">                      
                    <div class="form-group col-md-4">
                        <label for="id_Cidade">Cidade:</label>
                        <input type="text" name="Cidade" class="form-control" disabled maxlength="40"  id="id_Cidade" value='{{ endereco_dados.Cidade }}'>
                    </div>
                    
                    <div class="form-group col-md-1">
                        <label for="id_Estado">Estado:</label>
                        <input type="text" name="Estado" class="form-control" disabled maxlength="2"  id="id_Estado" value='{{ endereco_dados.Estado }}'>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="id_Complemento">Complemento:</label>
                        <input type="text" name="Complemento" class="form-control" disabled maxlength="100"  id="id_Complemento" value='{{ endereco_dados.Complemento|corrige_none }}'>
                    </div>
                    
                    <div class="form-group col-md-2">
                        <label for="id_Zona">Zona:</label>
                        <select name="Zona" id="id_Zona" disabled class="form-control">
                            {% for zona in zonas %}
                                {% if endereco_dados.Zona == zona.0 %}
                                    <option value="{{ zona.0 }}" selected>{{ zona.1 }}</option>
                                {% else %}
                                    <option value="{{ zona.0 }}" >{{ zona.1 }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>
        {% endif %}

        <br>
        {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
        <button type="submit" class="btn btn-primary">Salvar</button>
        {% elif Tipo_Transacao == 'DEL' and bloqueio ==  False  %}
            <button type="submit" class="btn btn-danger" >Deletar</button>
        {% endif %}
        <a href="{% url 'aluno_listagem' %}" class="btn btn-secondary"> Voltar</a>
        <br>
    </form>

{% endblock  %}