{% extends 'projeto/base/base.html' %}
{% load static %}
{% block title %}Histórico do Aluno | GEscolar{% endblock  %}


{% block main %}

    <h2><b>Histórico Escolar</b></h2> 
    <br>

    <form class="form">
        <fieldset class="container-fluid">
            <div class="row">
                <div class="mr-5 form-group">
                    <label for="id_Aluno">Aluno:</label>
                    <input type="text" name="Aluno" class="form-control-plaintext text-dark" disabled maxlength="40"  id="id_Aluno" value='{{ aluno.Nome }}'>
                </div>
            </div>
        </fieldset>
        
    </form>
    
    <div class="table-responsive-lg">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Turma</th>
                    <th>Ano</th>
                    <th>Status</th>
                    <th class="text-center">Boletim</th>
                </tr>
            </thead>
            <tbody>
                {% for matricula in matriculas %}
                    <tr>
                        <td>{{ matricula.Turma.nome_editado }}</td>
                        <td>{{ matricula.Turma.AnoLetivo.Ano }}</td>
                        {% if matricula.Situacao == 'cursando' %}
                            <td>Cursando</td>
                        {% elif matricula.Situacao == 'aprovado' %}
                            <td>Aprovado</td>
                        {% elif matricula.Situacao == 'transferido' %}
                            <td>Transferido</td>
                        {% elif matricula.Situacao == 'trancado' %}
                            <td>Trancado</td>
                        {% elif matricula.Situacao == 'reprovado' %}
                            <td>Reprovado</td>
                        {% endif %}
                        <td class="text-center"><a href="#"><img src="{% static 'img/sheet.png' %}" alt="Ícone de folha de papel"></a></td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if tipo == 'L' %}
        <div class="text-right">
            <a href="{% url 'aluno_listagem' %}" class="btn btn-secondary"> Voltar</a> 
        </div>
    {% elif tipo == 'M' %}
        <div class="text-right">
            <a href="{% url 'gestao_escolar_inicio' %}" class="btn btn-secondary"> Voltar</a> 
        </div>
    {% endif %}

{% endblock  %}