{% extends 'projeto/base/base.html' %}

{% block title %}Listagem da Matriz curricular | GEscolar{% endblock  %}


{% block main %}

    <h2>
        Listagem da matriz curricular do {{ serie.Numero }}º Ano do 
        {% if serie.Nivel_Escolaridade == 'F' %}
            Ensino Fundamental
        {% else %}
            Ensino Médio
        {% endif %}
    
    </h2> 
    
    <table>
        <thead>
            <tr>
                <th>Alt</th>
                <th>Exc</th>
                <th>Disciplina</th>
                <th>Carga horária</th>
            </tr>
            <a href="{% url 'matriz_item_novo' serie.id %}">Novo</a>
        </thead>
        <tbody>
            {% for matriz_item in matriz_itens %}
                <tr>
                    <td><a href="{% url 'matriz_item_alterar' idS=serie.id idM=matriz_item.id %}">X</a></td>
                    <td><a href="{% url 'matriz_item_deletar' idS=serie.id idM=matriz_item.id %}">X</a></td>
                    <td><a href="{% url 'matriz_item_consultar' idS=serie.id idM=matriz_item.id %}">{{ matriz_item.Disciplina.Nome }}</a></td>
                    <td>{{ matriz_item.Carga }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'serie_listagem' %}"> Voltar</a>

{% endblock  %}