{% extends 'projeto/base/base.html' %}

{% block title %}
    {% if Tipo_Transacao == 'INS' %}
        Cadastrar novo item da matriz curricular | GEscolar 
    {% elif Tipo_Transacao == 'UPD' %}
        Alterar item da matriz curricular | GEscolar 
    {% elif Tipo_Transacao == 'CON' %}
        Consultar item da matriz curricular | GEscolar
    {% elif Tipo_Transacao == 'DEL' %}
        Apagar item da matriz curricular | GEscolar
    {% endif %}
{% endblock  %}


{% block main %}

    {% if Tipo_Transacao == 'INS' %}
        <h2>Cadastrar item da matriz curricular</h2> 
    {% elif Tipo_Transacao == 'UPD' %}
        <h2>Atualizar dados do item da matriz curricular</h2> 
    {% elif Tipo_Transacao == 'CON' %}
        <h2>Consultar item da matriz curricular</h2> 
    {% elif Tipo_Transacao == 'DEL' %}
        <h2>Apagar item da matriz curricular</h2>
    {% endif %}

    {% for erro in erros %}
        {{ erro }}
    {% endfor %}

    <form action="
            {% if Tipo_Transacao == 'INS' %}
                {% url 'matriz_item_novo' idSerie %}
            {% elif Tipo_Transacao == 'UPD' %}
                {% url 'matriz_item_alterar' idSerie idMatriz_Item %}
            {% elif Tipo_Transacao == 'CON' %}
                {% url 'matriz_item_consultar' idSerie idMatriz_Item %}
            {% elif Tipo_Transacao == 'DEL' %}
                {% url 'matriz_item_deletar' idSerie idMatriz_Item %}
            {% endif %}
        " method="POST">
        {% csrf_token %}

        {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
            <fieldset>
                <div>
                    <label for="id_Disciplina">Disciplina:</label> 
                    <select name="Disciplina" id="id_Disciplina" >
                        {% for disciplina in disciplinas %}
                            {% if matriz_item_dados.Disciplina.id == disciplina.id %}
                                <option value="{{ disciplina.id }}" selected>{{ disciplina.Nome }}</option>
                            {% else %}
                                <option value="{{ disciplina.id }}" >{{ disciplina.Nome }}</option>
                            {% endif %}
                        {% endfor %}       
                    </select>
                </div>

                <div>
                    <label for="id_Carga">Carga horária:</label>
                    <input type="number" name="Carga" min="0"  required id="id_Carga" value='{{ matriz_item_dados.Carga }}'>
                </div>

            </fieldset>

        {% else %}
            <fieldset>
                <div>
                    <label for="id_Disciplina">Disciplina:</label> 
                    <select name="Disciplina" id="id_Disciplina" disabled>
                        {% for disciplina in disciplinas %}
                            {% if matriz_item_dados.Disciplina.id == disciplina.id %}
                                <option value="{{ disciplina.id }}" selected>{{ disciplina.Nome }}</option>
                            {% else %}
                                <option value="{{ disciplina.id }}" >{{ disciplina.Nome }}</option>
                            {% endif %}
                        {% endfor %}       
                    </select>
                </div>

                <div>
                    <label for="id_Carga">Carga horária:</label>
                    <input type="number" name="Carga" min="0"  disabled id="id_Carga" value='{{ matriz_item_dados.Carga }}'>
                </div>

            </fieldset>

        {% endif %}

        {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
            <button type="submit">Salvar</button>
        {% elif Tipo_Transacao == 'DEL' and bloqueio == False %}
            <button type="submit">Deletar</button>
        {% endif %}

        <a href="{% url 'matriz_item_listagem' idSerie %}"> Voltar</a>
    </form>

{% endblock  %}