{% extends 'projeto/base/base.html' %}

{% block title %}Listagem de Séries | GEscolar{% endblock  %}


{% block main %}

    <h2>Listagem de Séries</h2> 
    
    <table>
        <thead>
            <tr>
                <th>Número</th>
                <th>Nível de escolaridade</th>
                <th>Matriz curricular</th>
            </tr>
        </thead>
        <tbody>
            {% for serie in series %}
                <tr>
                    <td>{{ serie.Numero }}</td>
                    {% if serie.Nivel_Escolaridade == 'F' %}
                        <td>Fundamental</td>
                    {% elif serie.Nivel_Escolaridade == 'M' %}
                        <td>Médio</td>
                    {% endif  %}
                    <td><a href="{% url 'matriz_item_listagem' serie.id %}">X</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock  %}