{% extends 'projeto/base/base.html' %}

{% block title %}Gerenciamento de turma | GEscolar{% endblock  %}


{% block main %}

    <h2>Gerenciamento de turma</h2> 
    
    <table>
        <thead>
            <tr>
                <th>Alt</Th>
                <th>Exc</Th>
                <th>Nome do Aluno</th>
                <th>Situação</th>
                <th>Notas</th>
            </tr>
            {% if turma.AnoLetivo.Situacao == 'A' %}
                <a href="{% url 'matricula_turma_novo' idT %}">Matricular um aluno</a>
                &NonBreakingSpace;
            {% endif%}
            <a href="{% url 'leciona_listagem' idT %}">Disciplina x Professor</a>
            &NonBreakingSpace;
            <a href="{% url 'avaliacao_listagem' idT %}">Avaliações</a>
        </thead>
        <tbody>
            {% for matricula in matriculas %}
                    <tr>
                        {% if turma.AnoLetivo.Situacao == 'A' %}
                            <th><a href="{% url 'matricula_turma_alterar' idT matricula.id %}">X</a></th>
                            <th><a href="{% url 'matricula_turma_deletar' idT matricula.id %}">X</a></th>
                        {% else %}
                            <th>X</th>
                            <th>X</th>
                        {% endif %}
                        <th><a href="{% url 'matricula_turma_consultar' idT matricula.id %}">{{ matricula.Aluno.Nome }}</a></th>
                        {% if matricula.Situacao == 'cursando' %}
                            <th>Cursando</th>
                        {% elif matricula.Situacao == 'aprovado' %}
                            <th>Aprovado</th>
                        {% elif matricula.Situacao == 'transferido' %}
                            <th>Transferido</th>
                        {% elif matricula.Situacao == 'trancado' %}
                            <th>Trancado</th>
                        {% elif matricula.Situacao == 'reprovado' %}
                            <th>Reprovado</th>
                        {% endif %}
                        <th><a href="{% url 'relatorio_notas_frequencias' matricula.Turma.id matricula.id %}">X</a></th>
                    
                    </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'turma_listagem' %}"> Voltar</a>

{% endblock  %}