{% extends 'projeto/base/base.html' %}
{% load filters %}
{% block title %}
    {% if Tipo_Transacao == 'INS' %}
        Cadastrar nova matrícula na turma | GEscolar 
    {% elif Tipo_Transacao == 'UPD' %}
        Alterar matrícula na turma | GEscolar 
    {% elif Tipo_Transacao == 'CON' %}
        Consultar matrícula na turma | GEscolar
    {% elif Tipo_Transacao == 'DEL' %}
        Apagar matrícula na turma | GEscolar
    {% endif %}
{% endblock  %}


{% block main %}

    {% if Tipo_Transacao == 'INS' %}
        <h2><b>Cadastrar matrícula na turma</b></h2>
    {% elif Tipo_Transacao == 'UPD' %}
        <h2><b>Atualizar dados da matrícula na turma</b></h2>
    {% elif Tipo_Transacao == 'CON' %}
        <h2><b>Consultar matrícula na turma</b></h2>
    {% elif Tipo_Transacao == 'DEL' %}
        <h2><b>Apagar matrícula na turma</b></h2>
    {% endif %}

    <ul class="list-group list-group-flush mb-3 mt-3">
    {% for erro in erros %}
        <li class="list-group-item text-danger text-justify">{{ erro|tira_lista }}</li>
    {% endfor %}
    </ul>

    <form action="
            {% if Tipo_Transacao == 'INS' %}
                {% url 'matricula_turma_novo' idT %}
            {% elif Tipo_Transacao == 'UPD' %}
                {% url 'matricula_turma_alterar' idT idM %}
            {% elif Tipo_Transacao == 'CON' %}
                {% url 'matricula_turma_consultar' idT idM %}
            {% elif Tipo_Transacao == 'DEL' %}
                {% url 'matricula_turma_deletar' idT idM %}
            {% endif %}
        " method="POST" class="form">
        {% csrf_token %}

        {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
            <fieldset class="container-fluid">
                <div class="row">
                    {% if matricula_turma_dados.Turma.Serie.Nivel_Escolaridade == 'F' %}
                        <div class="form-group col-md-4">
                            <label for="id_Turma">Turma:</label>
                            <input type="text" name="Turma" class="form-control" disabled id="id_Turma" value='{{ turma.Serie.Numero }}{{ turma.Nome }} Ensino Fundamental'>
                        </div>
                    {% else %}
                        <div class="form-group col-md-4">
                            <label for="id_Turma">Turma:</label>
                            <input type="text" name="Turma" class="form-control" disabled id="id_Turma" value='{{ turma.Serie.Numero }}{{ turma.Nome }} Ensino Médio'>
                        </div>
                    {% endif %}


                    {% if Tipo_Transacao == 'INS' %}
                        <div class="form-group col-md-5">
                            <label for="id_Aluno">Aluno:</label>     
                            <select name="Aluno" id="id_Aluno" required class="form-control">
                                {% for aluno in alunos %}
                                    {% if matricula_turma_dados.Aluno.id == aluno.id %}
                                        <option value="{{ aluno.id }}" selected>{{ aluno.Nome }}</option>
                                    {% else %}
                                        <option value="{{ aluno.id }}" >{{ aluno.Nome }}</option>
                                    {% endif %}
                                {% endfor %}       
                            </select>
                        </div>
                    {% else %}
                        <div class="form-group col-md-5">
                            <label for="id_Aluno">Aluno:</label>     
                            <select name="Aluno" id="id_Aluno" disabled class="form-control">
                                {% for aluno in alunos %}
                                    {% if matricula_turma_dados.Aluno.id == aluno.id %}
                                        <option value="{{ aluno.id }}" selected>{{ aluno.Nome }}</option>
                                    {% else %}
                                        <option value="{{ aluno.id }}" >{{ aluno.Nome }}</option>
                                    {% endif %}
                                {% endfor %}       
                            </select>
                        </div>

                        {% if matricula_turma_dados.Situacao == 'cursando' %}
                            <div class="form-group col-md-3">
                                <label for="id_Situacao">Situação:</label>     
                                <select name="Situacao" id="id_Situacao" required class="form-control">
                                    {% for situacao in Tipo_Situacao %}
                                        {% if matricula_turma_dados.Situacao == situacao.0 %}
                                            <option value="{{ situacao.0 }}" selected>{{ situacao.1 }}</option>
                                        {% else %}
                                            <option value="{{ situacao.0 }}" >{{ situacao.1 }}</option>
                                        {% endif %}
                                    {% endfor %}       
                                </select>
                            </div>
                        {% else %}
                            <div class="form-group col-md-3">
                                <label for="id_Situacao">Situação:</label>     
                                <select name="Situacao" id="id_Situacao" disabled class="form-control">
                                    {% for situacao in Tipo_Situacao %}
                                        {% if matricula_turma_dados.Situacao == situacao.0 %}
                                            <option value="{{ situacao.0 }}" selected>{{ situacao.1 }}</option>
                                        {% else %}
                                            <option value="{{ situacao.0 }}" >{{ situacao.1 }}</option>
                                        {% endif %}
                                    {% endfor %}       
                                </select>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </fieldset>

        {% else %}
        
            <fieldset class="container-fluid">
                <div class="row">
                    {% if matricula_turma_dados.Turma.Serie.Nivel_Escolaridade == 'F' %}
                        <div class="form-group col-md-4">
                            <label for="id_Turma">Turma:</label>
                            <input type="text" name="Turma" class="form-control" disabled id="id_Turma" value='{{ turma.Serie.Numero }}{{ turma.Nome }} Ensino Fundamental'>
                        </div>
                    {% else %}
                        <div class="form-group col-md-4">
                            <label for="id_Turma">Turma:</label>
                            <input type="text" name="Turma" class="form-control" disabled id="id_Turma" value='{{ turma.Serie.Numero }}{{ turma.Nome }} Ensino Médio'>
                        </div>
                    {% endif %}

                    <div class="form-group col-md-5">
                        <label for="id_Aluno">Aluno:</label>     
                        <select name="Aluno" id="id_Aluno" disabled class="form-control">
                            {% for aluno in alunos %}
                                {% if matricula_turma_dados.Aluno.id == aluno.id %}
                                    <option value="{{ aluno.id }}" selected>{{ aluno.Nome }}</option>
                                {% else %}
                                    <option value="{{ aluno.id }}" >{{ aluno.Nome }}</option>
                                {% endif %}
                            {% endfor %}       
                        </select>
                    </div>


                    <div class="form-group col-md-3">
                        <label for="id_Situacao">Situação:</label>     
                        <select name="Situacao" id="id_Situacao" disabled class="form-control">
                            {% for situacao in Tipo_Situacao %}
                                {% if matricula_turma_dados.Situacao == situacao.0 %}
                                    <option value="{{ situacao.0 }}" selected>{{ situacao.1 }}</option>
                                {% else %}
                                    <option value="{{ situacao.0 }}" >{{ situacao.1 }}</option>
                                {% endif %}
                            {% endfor %}       
                        </select>
                        
                    </div>
                </div>
            </fieldset>


        {% endif %}
        
        <br>
        {% if bloqueio == False %}
            {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
                <button type="submit" class="btn btn-primary">Salvar</button>
            {% elif Tipo_Transacao == 'DEL' %}
                <button type="submit" class="btn btn-danger">Deletar</button>
            {% endif %}
        {% endif %}
        <a href="{% url 'gerenciamento_turma_listagem' idT %}" class="btn btn-secondary"> Voltar</a>
        <br>

    </form>

{% endblock  %}