{% extends 'projeto/base/base.html' %}

{% block title %}Listagem de Turmas | GEscolar{% endblock  %}


{% block main %}

    <h2>Listagem de Turmas</h2> 

    <form>
        <fieldset>
            <div>
                <label for="id_periodo">Período:</label>
                <select name="periodo" id="id_periodo">
                    {% for item in Filtro_Periodo %}
                        {% if periodo == item.0 %}
                            <option value="{{ item.0 }}" selected>{{ item.1 }}</option>
                        {% else %}
                            <option value="{{ item.0 }}" >{{ item.1 }}</option>
                        {% endif %}
                    {% endfor %}    
                </select>
            </div>
            
            <div>
                <label for="id_serie">Série:</label>
                <select name="serie" id="id_serie">
                    {% for item in Filtro_Serie %}
                        {% if serie == item.id %}
                            <option value="{{ item.id }}" selected>{{ item.nome_editado }}</option>
                        {% else %}
                            <option value="{{ item.id }}" >{{ item.nome_editado }}</option>
                        {% endif %}
                    {% endfor %}    
                </select>
            </div>

            <div>
                <label for="id_ano">Ano:</label> 
                <select name="ano" id="id_ano">
                    {% for item in Filtro_Ano %}
                        {% if ano == item.id %}
                            <option value="{{ item.id }}" selected>{{ item.Ano }}</option>
                        {% else %}
                            <option value="{{ item.id }}" >{{ item.Ano }}</option>
                        {% endif %}
                    {% endfor %}       
                </select>
            </div>

            <button type="submit">Pesquisar</button>
        </fieldset>
        
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Alt</th>
                <th>Exc</Th>
                <th>Nome</th>
                <th>Período</th>
                <th>Série</th>
                <th>Ano letivo</th>
                <th>Gestão</th>
            </tr>
            <a href="{% url 'turma_novo' %}">Novo</a>
        </thead>
        <tbody>
            {% for turma in turmas %}
                {% if turmas is not None %}
                    <tr>
                        {% if turma.AnoLetivo.Situacao == 'A' %}
                            <th><a href="{% url 'turma_alterar' turma.id %}">X</a></th>
                            <th><a href="{% url 'turma_deletar' turma.id %}">X</a></th>
                        {% else %}
                            <th>X</th>
                            <th>X</th>
                        {% endif %}
                        <th><a href="{% url 'turma_consultar' turma.id %}">{{ turma.Serie.Numero }}-{{ turma.Nome }}</a></th>
                        {% if turma.Periodo == 'M' %}
                            <th>Manhã</th>
                        {% else %}
                            <th>Tarde</th>
                        {% endif %}
                        {% if turma.Serie.Nivel_Escolaridade == 'F' %}
                            <th>Ensino Fundamental</th>
                        {% else %}
                            <th>Ensino Médio</th>
                        {% endif %}
                        <th>{{ turma.AnoLetivo.Ano }}</th>
                        <th><a href="{% url 'gerenciamento_turma_listagem' turma.id %}">X</a></th>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock  %}