{% extends 'projeto/base/base.html' %}

{% block title %}
    {% if Tipo_Transacao == 'INS' %}
        Cadastrar nova Turma | GEscolar 
    {% elif Tipo_Transacao == 'UPD' %}
        Alterar Turma | GEscolar 
    {% elif Tipo_Transacao == 'CON' %}
        Consultar Turma | GEscolar
    {% elif Tipo_Transacao == 'DEL' %}
        Apagar Turma | GEscolar
    {% endif %}
{% endblock  %}


{% block main %}

    {% if Tipo_Transacao == 'INS' %}
        <h2>Cadastrar Turma</h2> 
    {% elif Tipo_Transacao == 'UPD' %}
        <h2>Atualizar dados da Turma</h2> 
    {% elif Tipo_Transacao == 'CON' %}
        <h2>Consultar Turma</h2> 
    {% elif Tipo_Transacao == 'DEL' %}
        <h2>Apagar Turma</h2>
    {% endif %}

    {% for erro in erros %}
        {{ erro }}
    {% endfor %}

    <form action="
            {% if Tipo_Transacao == 'INS' %}
                {% url 'turma_novo' %}
            {% elif Tipo_Transacao == 'UPD' %}
                {% url 'turma_alterar' idTurma %}
            {% elif Tipo_Transacao == 'CON' %}
                {% url 'turma_consultar' idTurma %}
            {% elif Tipo_Transacao == 'DEL' %}
                {% url 'turma_deletar' idTurma %}
            {% endif %}
        " method="POST">
        {% csrf_token %}

        {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
            <fieldset>
                <div>
                    <label for="id_Nome">Nome (A,B,C):</label>
                    <input type="text" name="Nome" maxlength="1" required id="id_Nome" value='{{ turma_dados.Nome }}'>
                </div>

                <div>
                    <label for="id_Periodo">Período:</label>     
                    <select name="Periodo" id="id_Periodo">
                        {% for periodo in Tipo_Periodo %}
                            {% if turma_dados.Periodo == periodo.0 %}
                                <option value="{{ periodo.0 }}" selected>{{ periodo.1 }}</option>
                            {% else %}
                                <option value="{{ periodo.0 }}" >{{ periodo.1 }}</option>
                            {% endif %}
                        {% endfor %}       
                    </select>
                </div>

                {% if Tipo_Transacao == 'INS' %}
                    <div>
                        <label for="id_Serie">Série:</label>     
                        <select name="Serie" id="id_Serie">
                            {% for serie in series %}
                                {% if turma_dados.Serie == serie.id %}
                                    <option value="{{ serie.id }}" selected>
                                        {{ serie.Numero }}º Ano do Ensino
                                        {% if serie.Nivel_Escolaridade == 'F' %}
                                            Fundamental
                                        {% else %}
                                            Médio
                                        {% endif %}
                                    </option>
                                {% else %}
                                    <option value="{{ serie.id }}">
                                        {{ serie.Numero }}º Ano do Ensino
                                        {% if serie.Nivel_Escolaridade == 'F' %}
                                            Fundamental
                                        {% else %}
                                            Médio
                                        {% endif %}
                                    </option>
                                {% endif %}
                            {% endfor %}       
                        </select>
                    </div>
                {% else %}
                    <div>
                        <label for="id_Serie">Série:</label>     
                        <select name="Serie" id="id_Serie" disabled>
                            {% for serie in series %}
                                {% if turma_dados.Serie == serie.id %}
                                    <option value="{{ serie.id }}" selected>
                                        {{ serie.Numero }}º Ano do Ensino
                                        {% if serie.Nivel_Escolaridade == 'F' %}
                                            Fundamental
                                        {% else %}
                                            Médio
                                        {% endif %}
                                    </option>
                                {% else %}
                                    <option value="{{ serie.id }}" >
                                        {{ serie.Numero }}º Ano do Ensino
                                        {% if serie.Nivel_Escolaridade == 'F' %}
                                            Fundamental
                                        {% else %}
                                            Médio
                                        {% endif %}
                                    </option>
                                {% endif %}
                            {% endfor %}       
                        </select>
                    </div>
                {% endif %}


                <div>
                    <label for="id_Max_Alunos">Número da sala:</label>
                    <input type="number" name="Sala" min="0" max="4294967295" required id="id_Sala" value='{{ turma_dados.Sala }}'>
                </div>

                <div>
                    <label for="id_Max_Alunos">Capacidade de alunos:</label>
                    <input type="number" name="Max_Alunos" min="0" max="4294967295" required id="id_Max_Alunos" value='{{ turma_dados.Max_Alunos }}'>
                </div>

                {% if Tipo_Transacao == 'UPD' %}
                    <div>
                        <label for="id_AnoLetivo">Ano:</label>
                        <input type="text" name="AnoLetivo" min="0" max="4294967295" disabled id="id_AnoLetivo" value='{{ ano }}'>
                    </div>
                {% endif %}
            </fieldset>

        {% else %}
            <fieldset>
                <div>
                    <label for="id_Nome">Nome (A,B,C):</label>
                    <input type="text" name="Nome" maxlength="1" disabled id="id_Nome" value='{{ turma_dados.Nome }}'>
                </div>

                <div>
                    <label for="id_Periodo">Período:</label>     
                    <select name="Periodo" id="id_Periodo" disabled>
                        {% for periodo in Tipo_Periodo %}
                            {% if turma_dados.Periodo == periodo.0 %}
                                <option value="{{ periodo.0 }}" selected>{{ periodo.1 }}</option>
                            {% else %}
                                <option value="{{ periodo.0 }}" >{{ periodo.1 }}</option>
                            {% endif %}
                        {% endfor %}       
                    </select>
                </div>

                <div>
                    <label for="id_Serie">Série:</label>     
                    <select name="Serie" id="id_Serie" disabled>
                        {% for serie in series %}
                            {% if turma_dados.Serie.id == serie.id %}
                                <option value="{{ serie.id }}" selected>
                                    {{ serie.Numero }}º Ano do Ensino
                                    {% if serie.Nivel_Escolaridade == 'F' %}
                                        Fundamental
                                    {% else %}
                                        Médio
                                    {% endif %}
                                </option>
                            {% else %}
                                <option value="{{ serie.id }}" >
                                    {{ serie.Numero }}º Ano do Ensino
                                    {% if serie.Nivel_Escolaridade == 'F' %}
                                        Fundamental
                                    {% else %}
                                        Médio
                                    {% endif %}
                                </option>
                            {% endif %}
                        {% endfor %}       
                    </select>
                </div>

                <div>
                    <label for="id_Max_Alunos">Número da sala:</label>
                    <input type="number" name="Sala" min="0" max="4294967295" disabled id="id_Sala" value='{{ turma_dados.Sala }}'>
                </div>

                <div>
                    <label for="id_Max_Alunos">Capacidade de alunos:</label>
                    <input type="number" name="Max_Alunos" min="0" max="4294967295" disabled id="id_Max_Alunos" value='{{ turma_dados.Max_Alunos }}'>
                </div>

                
                <div>
                    <label for="id_AnoLetivo">Ano:</label>
                    <input type="text" name="AnoLetivo" min="0" max="4294967295" disabled id="id_AnoLetivo" value='{{ turma_dados.AnoLetivo }}'>
                </div>
                
            </fieldset>
        {% endif %}

        {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
            <button type="submit">Salvar</button>
        {% elif Tipo_Transacao == 'DEL' %}
            <button type="submit">Deletar</button>
        {% endif %}

        <a href="{% url 'turma_listagem' %}"> Voltar</a>
    </form>

{% endblock  %}