{% extends 'projeto/base/base.html' %}

{% block title %}Listagem de Professores | GEscolar{% endblock  %}


{% block main %}

    <h2>Listagem de Professores</h2> 

    <form>
        <fieldset>
            <div>
                <label for="id_titulo">Título:</label>
                <select name="titulo" id="id_titulo">
                    {% for item in Filtro_Titulos %}
                        {% if titulo == item.0 %}
                            <option value="{{ item.0 }}" selected>{{ item.1 }}</option>
                        {% else %}
                            <option value="{{ item.0 }}" >{{ item.1 }}</option>
                        {% endif %}
                    {% endfor %}    
                </select>
            </div>

            <div>
                <label for="id_ativo">Status:</label>
                <select name="ativo" id="id_ativo">
                    {% for item in Filtro_Status %}
                        {% if status == item.0 %}
                            <option value="{{ item.0 }}" selected>{{ item.1 }}</option>
                        {% else %}
                            <option value="{{ item.0 }}" >{{ item.1 }}</option>
                        {% endif %}
                    {% endfor %}    
                </select>
            </div>

            <button type="submit">Pesquisar</button>
        </fieldset>
        
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Alt</th>
                <th>Exc</Th>
                <th>Nome</th>
                <th>Sexo</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Email</th>
                <th>Título</th>
                <th>Status</th>
            </tr>
            <a href="{% url 'professor_novo' %}">Novo</a>
        </thead>
        <tbody>
            {% for professor in professores %}
                <tr>
                    <td><a href="{% url 'professor_alterar' professor.id %}">X</a></td>
                    <td><a href="{% url 'professor_deletar' professor.id %}">X</a></td>
                    <td><a href="{% url 'professor_consultar' professor.id %}">{{ professor.Nome }}</a></td>
                    <td>{{ professor.Sexo }}</td>
                    <td>{{ professor.Cpf }}</td>
                    <td>{{ professor.Rg }}</td>
                    <td>{{ professor.Usuario.email }}</td>
                    
                    {% if professor.Titulo == 'E' %}
                        <td>Especialista</td>
                    {% elif professor.Titulo == 'M' %}
                        <td>Mestre</td>
                    {% elif professor.Titulo == 'D' %}
                        <td>Doutor</td>
                    {% endif %}

                    {% if professor.Usuario.is_active %}
                        <td>Ativo</td>
                    {% else %}
                        <td>Inativo</td>
                    {% endif %}
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock  %}