{% extends 'projeto/base/base.html' %}
{% load static %}

{% block title %}Listagem de aulas | GEscolar{% endblock  %}

{% block main %}

    <h2>Listagem de aulas</h2>
    
    <table id="Tabela">
        <thead>
            <tr>
                <th>Alt</th>
                <th>Exc</Th>
                <th>Data</th>
                <th>Tema</th>
                <th>Disciplina</th>
                <th>Professor</th>
                <th>Turma</th>
                <th>Lista de chamada</th>
            </tr>
            {% if turma.AnoLetivo.Situacao == 'A' %}
                <a href="{% url 'aula_novo' turma.id %}">Novo</a>
            {% endif%}
            
        </thead>
        <tbody id="tbody">
            {% for aula in aulas %}
                <tr>   
                    {% if turma.AnoLetivo.Situacao == 'A' %}
                        <th><a href="{% url 'aula_alterar' turma.id aula.id %}">X</a></th>
                        <th><a href="{% url 'aula_deletar' turma.id aula.id %}">X</a></th>
                    {% else %}
                        <th>X</th>
                        <th>X</th>
                    {% endif %}
                    <th><a href="{% url 'aula_consultar' turma.id aula.id %}">{{ aula.Data }}</a></th>
                    <th>{{ aula.Tema }}</th>
                    <th>{{ aula.Leciona.Matriz_Item.Disciplina.Nome }}</th>
                    <th>{{ aula.Leciona.Professor.Nome }}</th>
                    <th>{{ aula.Turma.nome_editado }}</th>
                    <th><a href=" url 'chamada_listagem' aula.id ">X</a></th>
                </tr>
            {% endfor %}           
        </tbody>
    </table>
    <a href="{% url 'turma_listagem' %}"> Voltar</a>
{% endblock  %}