{% extends 'projeto/base/base.html' %}
{% load static %}

{% block title %}Listagem de aulas | GEscolar{% endblock  %}

{% block main %}

    <h2>Listagem de aulas</h2>

    <form>
        <fieldset>
            <div>
                <label for="id_leciona">Disciplina / Professor:</label>
                <select name="leciona" id="id_leciona">
                    {% for item in Filtro_Leciona %}
                        {% if leciona == item.id %}
                            <option value="{{ item.id }}" selected>{{ item.nome_editado }}</option>
                        {% else %}
                            <option value="{{ item.id }}" >{{ item.nome_editado }}</option>
                        {% endif %}
                    {% endfor %}    
                </select>
            </div>

            <div>
                <label for="id_bimestre">Bimestre:</label> 
                <select name="bimestre" id="id_bimestre">
                    {% for item in Filtro_Bimestre %}
                        {% if bimestre == item.id %}
                            <option value="{{ item.id }}" selected>{{ item.Bimestre }} - {{ item.AnoLetivo }}</option>
                        {% else %}
                            <option value="{{ item.id }}" >{{ item.Bimestre }} - {{ item.AnoLetivo }}</option>
                        {% endif %}
                    {% endfor %}       
                </select>
            </div>

            <button type="submit">Pesquisar</button>
        </fieldset>
        
    </form>
    
    
    <table id="Tabela">
        <thead>
            <tr>
                <th>Alt</th>
                <th>Exc</Th>
                <th>Data</th>
                <th>Tema</th>
                <th>Disciplina</th>
                <th>Professor</th>
                <th>Turma</th>
                <th>Bimestre</th>
                <th>Lista de chamada</th>
            </tr>
            {% if turma.AnoLetivo.Situacao == 'A' %}
                <a href="{% url 'aula_novo' turma.id %}">Novo</a>
            {% endif%}
            
        </thead>
        <tbody id="tbody">
            {% for aula in aulas %}
                <tr>   
                    {% if turma.AnoLetivo.Situacao == 'A' %}
                        <th><a href="{% url 'aula_alterar' turma.id aula.id %}">X</a></th>
                        <th><a href="{% url 'aula_deletar' turma.id aula.id %}">X</a></th>
                    {% else %}
                        <th>X</th>
                        <th>X</th>
                    {% endif %}
                    <th><a href="{% url 'aula_consultar' turma.id aula.id %}">{{ aula.Data }}</a></th>
                    <th>{{ aula.Tema }}</th>
                    <th>{{ aula.Leciona.Matriz_Item.Disciplina.Nome }}</th>
                    <th>{{ aula.Leciona.Professor.Nome }}</th>
                    <th>{{ aula.Turma.nome_editado }}</th>
                    <th>{{ aula.Bimestre.Bimestre }} - {{ aula.Bimestre.AnoLetivo }}</th>
                    {% if turma.AnoLetivo.Situacao == 'A' %}
                        <th><a href="{% url 'lista_chamada' turma.id aula.id %}">X</a></th> 
                    {% else %}
                        <th>X</th>
                    {% endif %}
                    
                </tr>
            {% endfor %}           
        </tbody>
    </table>
    <a href="{% url 'gerenciamento_turma_listagem' turma.id %}"> Voltar</a>
{% endblock  %}