{% extends 'projeto/base/base.html' %}
{% load filters %}

{% block title %}
    Lista de chamada | GEscolar 
{% endblock  %}


{% block main %}

    <h2><b>Lista de chamada</b></h2>

    <ul class="list-group list-group-flush mb-3 mt-3">
    {% for erro in erros %}
        <li class="list-group-item text-danger text-justify">{{ erro|tira_lista }}</li>
    {% endfor %}
    </ul>

    <form action="" method="POST" class="form">
        {% csrf_token %}
        <div class="table-responsive-lg"> 
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Aluno</th>
                        <th class="text-center">Presença</Th>
                    </tr>
                </thead>

                <tbody id="tbody">
                    {% for frequencia in frequencias %}
                        <tr>   
                            <td>{{ frequencia.Aluno.Nome }}</td>
                            {% if frequencia.Presenca == 'Presente' %}
                                <td class="form-group col-sm-1 text-center"><input type="checkbox" class="form-control" name="Presenca{{ frequencia.Aluno.id }}" value="Presente" checked></td>
                            {% else %} 
                                <td class="form-group col-sm-1 text-center"><input type="checkbox" class="form-control" name="Presenca{{ frequencia.Aluno.id }}" value="Presente" ></td>
                            {% endif %} 
                        </tr>
                    {% endfor %}           
                </tbody>
            </table>
        </div>

        <br>
        {% if turma.AnoLetivo.Situacao == 'A' %}
            <button type="submit" class="btn btn-primary">Salvar</button>   
        {% endif %}
        <a href="{% url 'aula_listagem' turma.id %}" class="btn btn-secondary"> Voltar</a>
        <br>

    </form>

{% endblock  %}