{% extends 'projeto/base/base.html' %}

{% block title %}Relatório de Notas e Frequências | GEscolar{% endblock  %}


{% block main %}

    <h2>Relatório de Notas e Frequências</h2> 

    <!-- Escola e Turma -->
    <fieldset>
        <div>
            <label for="id_Nome">Nome da Escola:</label>
            <span id="id_Nome"></span>
        </div>

        <div>
            <label for="id_Ano_Letivo">Ano Letivo:</label>
            <span id="id_Ano_Letivo"></span>
        </div>


        <div>
            <label for="id_Serie">Série:</label>
            <span id="id_Serie"></span>
        </div>

        <div>
            <label for="id_Turma">Turma:</label>
            <span id="id_Turma"></span>
        </div>

    </fieldset>

    <!-- Aluno -->
    <fieldset>
        <div>
            <label for="id_Nome">Nome:</label>
            <span id="id_Nome"></span>
        </div>

        <div>
            <label for="id_RA">RA:</label>
            <span id="id_RA"></span>
        </div>


        <div>
            <label for="id_Matrícula">Matrícula:</label>
            <span id="id_Matrícula"></span>
        </div>

        <div>
            <label for="id_Sexo">Sexo:</label>
            <span id="id_Sexo"></span>
        </div>

        <div>
            <label for="id_Data_Nascimento">Data de Nascimento:</label>
            <span id="id_Data_Nascimento"></span>
        </div>

    </fieldset>

    <fieldset>
        <div>
            <span>Disciplinas</span>
        </div>

        <div>
            <span>1º Bimestre</span>

            <div>
                <span>Notas</span>
                <span>Faltas</span>
            </div>
        </div>

        <div>
            <span>2º Bimestre</span>
            <div>
                <span>Notas</span>
                <span>Faltas</span>
            </div>
        </div>

        <div>
            <span>3º Bimestre</span>
            <div>
                <span>Notas</span>
                <span>Faltas</span>
            </div>
        </div>

        <div>
            <span>4º Bimestre</span>
            <div>
                <span>Notas</span>
                <span>Faltas</span>
            </div>
        </div>

        <div>
            <span>Disciplinas</span>
        </div>

    </fieldset>

{% endblock  %}