{% extends 'projeto/base/base.html' %}
{% load filters %}
{% block title %}
    {% if Tipo_Transacao == 'INS' %}
        Cadastrar novo Disciplina | GEscolar 
    {% elif Tipo_Transacao == 'UPD' %}
        Alterar Disciplina | GEscolar 
    {% elif Tipo_Transacao == 'CON' %}
        Consultar Disciplina | GEscolar
    {% elif Tipo_Transacao == 'DEL' %}
        Apagar Disciplina | GEscolar
    {% endif %}
{% endblock  %}


{% block main %}

    {% if Tipo_Transacao == 'INS' %}
        <h2><b>Cadastrar Disciplina</b></h2>
    {% elif Tipo_Transacao == 'UPD' %}
        <h2><b>Atualizar dados do Disciplina</b></h2>
    {% elif Tipo_Transacao == 'CON' %}
        <h2><b>Consultar Disciplina</b></h2>
    {% elif Tipo_Transacao == 'DEL' %}
        <h2><b>Apagar Disciplina</b></h2>
    {% endif %}

    <ul class="list-group list-group-flush mb-3 mt-3">
    {% for erro in erros %}
        <li class="list-group-item text-danger text-justify">{{ erro|tira_lista }}</li>
    {% endfor %}
    </ul>

    <form action="
            {% if Tipo_Transacao == 'INS' %}
                {% url 'disciplina_novo' %}
            {% elif Tipo_Transacao == 'UPD' %}
                {% url 'disciplina_alterar' idDisciplina %}
            {% elif Tipo_Transacao == 'CON' %}
                {% url 'disciplina_consultar' idDisciplina %}
            {% elif Tipo_Transacao == 'DEL' %}
                {% url 'disciplina_deletar' idDisciplina %}
            {% endif %}
        " method="POST" class="form">
        {% csrf_token %}

        {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
            <fieldset class="container-fluid">
                <div class="row">
                    <div class="form-group col-md-5">
                        <label for="id_Nome">Nome:</label>
                        <input type="text" name="Nome" maxlength="20" class="form-control" required id="id_Nome" value='{{ disciplina_dados.Nome }}'>
                    </div>
                </div>  
            </fieldset>

        {% else %}

            <fieldset class="container-fluid">
                <div class="row">
                    <div class="form-group col-md-5">
                        <label for="id_Nome">Nome:</label>
                        <input type="text" name="Nome" maxlength="20" class="form-control" disabled id="id_Nome" value='{{ disciplina_dados.Nome }}'>
                    </div>
                </div>  
            </fieldset>
        {% endif %}

        <br>
        {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
            <button type="submit" class="btn btn-primary">Salvar</button>
        {% elif Tipo_Transacao == 'DEL' and bloqueio ==  False %}
            <button type="submit" class="btn btn-danger">Deletar</button>
        {% endif %}
        <a href="{% url 'disciplina_listagem' %}" class="btn btn-secondary"> Voltar</a>
        <br>

    </form>

{% endblock  %}