{% extends 'projeto/base/base.html' %}

{% block title %}
    {% if Tipo_Transacao == 'INS' %}
        Cadastrar novo Diretor | GEscolar 
    {% elif Tipo_Transacao == 'UPD' %}
        Alterar Diretor | GEscolar 
    {% endif %}
{% endblock  %}


{% block main %}

    {% if Tipo_Transacao == 'INS' %}
        <h2>Cadastrar Diretor</h2> 
    {% elif Tipo_Transacao == 'UPD' %}
        <h2>Atualizar dados do Diretor</h2> 
    {% endif %}

    {% for erro in erros %}
        {{ erro }}
    {% endfor %}


    <form action="
            {% if Tipo_Transacao == 'INS' %}
                {% url 'diretor_novo' %}
            {% elif Tipo_Transacao == 'UPD' %}
                {% url 'diretor_alterar' idGestor %}
            {% endif %}
        " method="POST">
        {% csrf_token %}

        <fieldset>
            <div>
                <label for="id_Nome">Nome:</label> 
                <input type="text" name="Nome" maxlength="50" required id="id_Nome" value='{{ gestor_dados.Nome }}'>
            </div>

            <div>
                <label for="id_Sexo">Sexo:</label> 
                <select name="Sexo" id="id_Sexo">
                    {% for tipo in Tipo_Sexo %}
                        <option value="{{ tipo.0 }}" >{{ tipo.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="id_Data_Nascimento">Data de Nascimento:</label> 
                <input type="date" name="Data_Nascimento" required id="id_Data_Nascimento" value='{{ gestor_dados.Data_Nascimento }}'>
            </div>

            <div>
                <label for="id_Cpf">CPF:</label> 
                <input type="text" name="Cpf" maxlength="11" id="id_Cpf" value='{{ gestor_dados.Cpf }}'>               
            </div>

            <div>
                <label for="id_Rg">RG:</label> 
                <input type="text" name="Rg" maxlength="9" id="id_Rg" value='{{ gestor_dados.Rg }}'>                
            </div>
            
            <div>
                <label for="id_Numero1">Telefone 1:</label>
                <input type="text" name="Numero1" maxlength="20" required id="id_Numero1" value='{{ telefone_dados.Numero1 }}'>
            </div>

            <div>
                <label for="id_Numero2">Telefone 2:</label>
                <input type="text" name="Numero2" maxlength="20" required id="id_Numero2" value='{{ telefone_dados.Numero2 }}'>
            </div>

        </fieldset>

        <fieldset>
            <div>
                <label for="id_Rua">Rua:</label>
                <input type="text" name="Rua" maxlength="40" required id="id_Rua" value='{{ endereco_dados.Rua }}'>
            </div>

            <div>
                <label for="id_Numero">Número:</label>
                <input type="number" name="Numero" min="0" required id="id_Numero" value='{{ endereco_dados.Numero }}'>
            </div>

            <div>
                <label for="id_Bairro">Bairro:</label>
                <input type="text" name="Bairro" maxlength="40" required id="id_Bairro" value='{{ endereco_dados.Bairro }}'>
            </div>
            
            <div>
                <label for="id_Cidade">Cidade:</label>
                <input type="text" name="Cidade" maxlength="40" required id="id_Cidade" value='{{ endereco_dados.Cidade }}'>
            </div>
            
            <div>
                <label for="id_Estado">Estado:</label>
                <input type="text" name="Estado" maxlength="2" required id="id_Estado" value='{{ endereco_dados.Estado }}'>
            </div>

            <div>
                <label for="id_Complemento">Complemento:</label>
                <input type="text" name="Complemento" maxlength="100"  id="id_Complemento" value='{{ endereco_dados.Complemento }}'>
            </div>
            
            <div>
                <label for="id_Zona">Zona:</label>
                <select name="Zona" id="id_Zona">
                    {% for zona in zonas %}
                        <option value="{{ zona.0 }}" >{{ zona.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </fieldset>

        <fieldset>
            <div>
                <label for="id_email">Email:</label> 
                <input type="email" name="email" maxlength="254" required id="id_email" value='{{ usuario_dados.email }}'>     
            </div>

            {% if Tipo_Transacao == 'INS' %}

                <div>
                    <label for="id_username">Nome de Usuário:</label> 
                    <input type="text" name="username" maxlength="20" required id="id_username" value='{{ usuario_dados.username }}'> 
                </div>

                <div>
                    <label for="id_password">Senha:</label> 
                    <input type="password" name="password" maxlength="16" required id="id_password" value='{{ usuario_dados.password }}'>              
                </div>

                <div>
                    <label for="id_password2">Confirme sua Senha:</label> 
                    <input type="password" name="password2" maxlength="16" required id="id_password2" value='{{ usuario_dados.password2 }}'>              
                </div>
            
            {% else %}
                <div>
                    <label for="id_username">Nome de Usuário:</label> 
                    <input type="text" name="username" maxlength="20" disabled id="id_username" value='{{ usuario_dados.username }}'> 
                </div>
            {% endif %}
        </fieldset>

        <button type="submit">Salvar</button>
        
    </form>

{% endblock  %}