{% extends 'projeto/base/base.html' %}

{% block title %}Trocar a senha | GEscolar{% endblock  %}


{% block main %}

    <h2>Trocar a senha</h2> 
    
    {% for erro in erros %}
        {{ erro }}
    {% endfor %}


    <form action="{% url 'trocar_senha' idGestor %}" method="POST">
        {% csrf_token %}

        <fieldset>
            <div>
                <label for="id_password">Senha:</label> 
                <input type="password" name="password" maxlength="16" required id="id_password" value='{{ usuario_dados.password }}'>              
            </div>

            <div>
                <label for="id_password2">Confirme sua Senha:</label> 
                <input type="password" name="password2" maxlength="16" required id="id_password2" value='{{ usuario_dados.password2 }}'>              
            </div>
        </fieldset>

        <button type="submit">Salvar</button>
        <a href="{% url 'gestao_escolar_inicio' %}"> Voltar</a>
    </form>

{% endblock  %}