{% extends 'projeto/base/base.html' %}

{% block title %}Listagem de Anos Letivos | GEscolar{% endblock  %}


{% block main %}

    <h2>Listagem de Anos Letivos</h2> 

    <form>
        <fieldset>
            <div>
                <label for="id_situacao">Situação:</label>
                <select name="situacao" id="id_situacao">
                    {% for item in Filtro_Situacao %}
                        {% if situacao == item.0 %}
                            <option value="{{ item.0 }}" selected>{{ item.1 }}</option>
                        {% else %}
                            <option value="{{ item.0 }}" >{{ item.1 }}</option>
                        {% endif %}
                    {% endfor %}    
                    
                </select>
                
            </div>
            <button type="submit">Pesquisar</button>
        </fieldset>
        
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Alt</th>
                <th>Exc</Th>
                <th>Ano</th>
                <th>Situação</th>
                <th>Data Inicial</th>
                <th>Data Final</th>
                <th>Bimestres</th>
            </tr>
            <a href="{% url 'ano_novo' %}">Novo</a>
        </thead>
        <tbody>
            {% for ano in anos %}
                
                <tr>
                    {% if ano.Situacao == 'A' %}
                        <td><a href="{% url 'ano_alterar' ano.id %}">X</a></td>
                        <td><a href="{% url 'ano_deletar' ano.id %}">X</a></td>
                    {% else  %}
                        <td>X</td>
                        <td>X</td>
                    {% endif  %}
                    <td><a href="{% url 'ano_consultar' ano.id %}">{{ ano.Ano }}</a></td>
                    {% if ano.Situacao == 'A' %}
                        <td>Aberto</td>
                    {% else  %}
                        <td>Fechado</td>
                    {% endif  %}
                    <td>{{ ano.Data_Inicio }}</td>
                    <td>{{ ano.Data_Fim }}</td>
                    <td><a href="{% url 'bimestre_listagem' ano.id %}">X</a></td>
                </tr>
                
            {% endfor %}
        </tbody>
    </table>

{% endblock  %}