{% extends 'projeto/base/base.html' %}

{% block title %}Listagem de Anos Letivos | GEscolar{% endblock  %}


{% block main %}

    <h2>Listagem de Anos Letivos</h2> 
    
    <table>
        <thead>
            <tr>
                <th>Alt</th>
                <th>Exc</Th>
                <th>Ano</th>
                <th>Situação</th>
                <th>Data Inicial</th>
                <th>Data Final</th>
            </tr>
            <a href="{% url 'ano_novo' %}">Novo</a>
        </thead>
        <tbody>
            {% for ano in anos %}
                {% if anos is not None %}
                    <tr>
                        <th><a href="{% url 'ano_alterar' ano.id %}">X</a></th>
                        <th><a href="{% url 'ano_deletar' ano.id %}">X</a></th>
                        <th><a href="{% url 'ano_consultar' ano.id %}">{{ ano.Ano }}</a></th>
                        <th>{{ ano.Situacao }}</th>
                        <th>{{ ano.Data_Inicio }}</th>
                        <th>{{ ano.Data_Final }}</th>
                    </tr>
                {% else %}
                    <tr>
                        <th>X</th>
                        <th>X</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock  %}