{% extends 'projeto/base/base.html' %}

{% block title %}
    {% if Tipo_Transacao == 'INS' %}
        Cadastrar novo Bimestre | GEscolar 
    {% elif Tipo_Transacao == 'UPD' %}
        Alterar Bimestre | GEscolar 
    {% elif Tipo_Transacao == 'CON' %}
        Consultar Bimestre | GEscolar
    {% elif Tipo_Transacao == 'DEL' %}
        Apagar Bimestre | GEscolar
    {% endif %}
{% endblock  %}


{% block main %}

    {% if Tipo_Transacao == 'INS' %}
        <h2>Cadastrar Bimestre</h2> 
    {% elif Tipo_Transacao == 'UPD' %}
        <h2>Atualizar dados do Bimestre</h2> 
    {% elif Tipo_Transacao == 'CON' %}
        <h2>Consultar Bimestre</h2> 
    {% elif Tipo_Transacao == 'DEL' %}
        <h2>Apagar Bimestre</h2>
    {% endif %}

    {% for erro in erros %}
        {{ erro }}
    {% endfor %}

    <form action="
            {% if Tipo_Transacao == 'INS' %}
                {% url 'bimestre_novo' idA %}
            {% elif Tipo_Transacao == 'UPD' %}
                {% url 'bimestre_alterar' idA idBimestre %}
            {% elif Tipo_Transacao == 'CON' %}
                {% url 'bimestre_consultar' idA idBimestre %}
            {% elif Tipo_Transacao == 'DEL' %}
                {% url 'bimestre_deletar' idA idBimestre %}
            {% endif %}
        " method="POST">
        {% csrf_token %}

        {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}

            <fieldset>
                {% if Tipo_Transacao == 'INS' %}
                    <div>
                        <label for="id_AnoLetivo">Ano:</label> 
                        <input type="number" name="AnoLetivo" min="0" max="4" disabled id="id_AnoLetivo" value='{{ ano.Ano }}'>
                    </div>

                    <div>
                        <label for="id_Bimestre">Bimestre:</label>
                        <input type="number" name="Bimestre" min="0" max="4" disabled id="id_Bimestre" value='{{ numero_bimestre }}'>
                    </div>

                    <div>
                        <label for="id_Situacao">Situação:</label> 
                        <select name="Situacao" id="id_Situacao" disabled>
                            {% for situacao in Tipos_Situacao %}
                                {% if bimestre_dados.Situacao == situacao.0 %}
                                    <option value="{{ situacao.0 }}" selected>{{ situacao.1 }}</option>
                                {% else %}
                                    <option value="{{ situacao.0 }}" >{{ situacao.1 }}</option>
                                {% endif %}
                            {% endfor %}       
                        </select>
                    </div>
                {% else %}
                    <div>
                        <label for="id_AnoLetivo">Ano:</label> 
                        <input type="number" name="AnoLetivo" min="0" max="4" disabled id="id_AnoLetivo" value='{{ bimestre_dados.AnoLetivo }}'>
                    </div>

                    <div>
                        <label for="id_Bimestre">Bimestre:</label>
                        <input type="number" name="Bimestre" min="0" max="4" disabled id="id_Bimestre" value='{{ bimestre_dados.Bimestre }}'>
                    </div>

                    <div>
                        <label for="id_Situacao">Situação:</label> 
                        <select name="Situacao" id="id_Situacao">
                            {% for situacao in Tipos_Situacao %}
                                {% if bimestre_dados.Situacao == situacao.0 %}
                                    <option value="{{ situacao.0 }}" selected>{{ situacao.1 }}</option>
                                {% else %}
                                    <option value="{{ situacao.0 }}" >{{ situacao.1 }}</option>
                                {% endif %}
                            {% endfor %}       
                        </select>
                    </div>
                {% endif %}

                <div>
                    <label for="id_Data_Inicio">Data Inicial:</label> 
                    <input type="date" name="Data_Inicio" required id="id_Data_Inicio" value='{{ bimestre_dados.Data_Inicio|date:"Y-m-d" }}'>
                </div>

                <div>
                    <label for="id_Data_Limite_Notas">Data limite da entrega das notas:</label> 
                    <input type="date" name="Data_Limite_Notas" required id="id_Data_Limite_Notas" value='{{ bimestre_dados.Data_Limite_Notas|date:"Y-m-d" }}'>
                </div>

                <div>
                    <label for="id_Data_Fim">Data Final:</label> 
                    <input type="date" name="Data_Fim" required id="id_Data_Fim" value='{{ bimestre_dados.Data_Fim|date:"Y-m-d" }}'>
                </div>
            </fieldset>

        {% else %}
        
            <fieldset>
                <div>
                    <label for="id_AnoLetivo">Ano:</label> 
                    <input type="number" name="AnoLetivo" min="0" max="4" disabled id="id_AnoLetivo" value='{{ bimestre_dados.AnoLetivo }}'>
                </div>

                <div>
                    <label for="id_Bimestre">Bimestre:</label>
                    <input type="number" name="Bimestre" min="0" max="4" disabled id="id_Bimestre" value='{{ bimestre_dados.Bimestre }}'>
                </div>

                <div>
                    <label for="id_Situacao">Situação:</label> 
                    <select name="Situacao" id="id_Situacao" disabled>
                        {% for situacao in Tipos_Situacao %}
                            {% if bimestre_dados.Situacao == situacao.0 %}
                                <option value="{{ situacao.0 }}" selected>{{ situacao.1 }}</option>
                            {% else %}
                                <option value="{{ situacao.0 }}" >{{ situacao.1 }}</option>
                            {% endif %}
                        {% endfor %}       
                    </select>
                </div>

                <div>
                    <label for="id_Data_Inicio">Data Inicial:</label> 
                    <input type="date" name="Data_Inicio" disabled id="id_Data_Inicio" value='{{ bimestre_dados.Data_Inicio|date:"Y-m-d" }}'>
                </div>

                <div>
                    <label for="id_Data_Limite_Notas">Data limite da entrega das notas:</label> 
                    <input type="date" name="Data_Limite_Notas" disabled id="id_Data_Limite_Notas" value='{{ bimestre_dados.Data_Limite_Notas|date:"Y-m-d" }}'>
                </div>

                <div>
                    <label for="id_Data_Fim">Data Final:</label> 
                    <input type="date" name="Data_Fim" disabled id="id_Data_Fim" value='{{ bimestre_dados.Data_Fim|date:"Y-m-d" }}'>
                </div>
            </fieldset>


        {% endif %}

        {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
            <button type="submit">Salvar</button>
        {% elif Tipo_Transacao == 'DEL' %}
            <button type="submit">Deletar</button>
        {% endif %}

        <a href="{% url 'bimestre_listagem' ano.id %}"> Voltar</a>
    </form>

{% endblock  %}