{% extends 'projeto/base/base.html' %}

{% block title %}Listagem de Bimestres | GEscolar{% endblock  %}


{% block main %}

    <h2>Listagem de Bimestres</h2> 

    <table>
        <thead>
            <tr>    
                <th>Alt</th>
                <th>Exc</Th>
                <th>Bimestre</th>
                <th>Situação</th>
                <th>Data Inicial</th>
                <th>Data Final</th>
            </tr>
            {% if numero_bimestre < 5 and ano.Situacao == 'A'%}
                <a href="{% url 'bimestre_novo' idA %}">Novo</a>
            {% endif  %}
        </thead>
        <tbody>
            {% for bimestre in bimestres %}
                {% if bimestres is not None %}
                    <tr>
                        {% if bimestre.Situacao == 'A' %}
                            <td><a href="{% url 'bimestre_alterar' idA bimestre.id %}">X</a></td>
                            <td><a href="{% url 'bimestre_deletar' idA bimestre.id %}">X</a></td>
                        {% else  %}
                            <td>X</td>
                            <td>X</td>
                        {% endif  %}
                        <td><a href="{% url 'bimestre_consultar' idA bimestre.id %}">{{ bimestre.Bimestre }} - {{ bimestre.AnoLetivo }}</a></td>
                        {% if bimestre.Situacao == 'A' %}
                            <td>Aberto</td>
                        {% else  %}
                            <td>Fechado</td>
                        {% endif  %}

                        {% if bimestre.Data_Inicio  %}
                            <td>{{ bimestre.Data_Inicio }}</td>
                        {% else  %}
                            <td></td>
                        {% endif  %}

                        {% if bimestre.Data_Fim  %}
                            <td>{{ bimestre.Data_Fim }}</td>
                        {% else  %}
                            <td></td>
                        {% endif  %}
                        

                        
                    </tr>
                {% else %}
                    <tr>
                        <td>X</td>
                        <td>X</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'ano_listagem' %}"> Voltar</a>

{% endblock  %}