{% extends 'projeto/base/base.html' %}

{% block title %}Listagem de Bimestres | GEscolar{% endblock  %}


{% block main %}

    <h2>Listagem de Bimestres</h2> 

    <table>
        <thead>
            <tr>    
                <th>Alt</th>
                <th>Exc</Th>
                <th>Bimestre</th>
                <th>Situação</th>
                <th>Data Inicial</th>
                <th>Data Final</th>
            </tr>
            <a href="{% url 'bimestre_novo' idA %}">Novo</a>
        </thead>
        <tbody>
            {% for bimestre in bimestres %}
                {% if bimestres is not None %}
                    <tr>
                        {% if bimestre.Situacao == 'A' %}
                            <th><a href="{% url 'bimestre_alterar' idA bimestre.id %}">X</a></th>
                        {% else  %}
                            <th>X</th>
                        {% endif  %}
                        <th><a href="{% url 'bimestre_deletar' idA bimestre.id %}">X</a></th>
                        <th><a href="{% url 'bimestre_consultar' idA bimestre.id %}">{{ bimestre.Bimestre }} - {{ bimestre.AnoLetivo }}</a></th>
                        {% if bimestre.Situacao == 'A' %}
                            <th>Aberto</th>
                        {% else  %}
                            <th>Fechado</th>
                        {% endif  %}
                        <th>{{ bimestre.Data_Inicio }}</th>
                        <th>{{ bimestre.Data_Fim }}</th>
                    </tr>
                {% else %}
                    <tr>
                        <th>X</th>
                        <th>X</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock  %}