{% extends 'projeto/base/base.html' %}

{% block title %}
    {% if Tipo_Transacao == 'INS' %}
        Cadastrar nova Escola | GEscolar 
    {% else %}
        Alterar Escola | GEscolar 
    {% endif %}
{% endblock  %}


{% block main %}

    {% if Tipo_Transacao == 'INS' %}
        <h2>Cadastrar Escola</h2> 
    {% else %}
        <h2>Atualizar dados da Escola</h2>
    {% endif %}

    {% for erro in erros %}
        {{ erro }}
    {% endfor %}


    <form action="
            {% if Tipo_Transacao == 'INS' %}
                {% url 'escola_novo' %}
            {% else %}
                {% url 'escola_alterar' idEscola %}
            {% endif %}
        " method="POST">

        {% csrf_token %}
        <fieldset>
            <div>
                <label for="id_Nome">Nome:</label>
                <input type="text" name="Nome" maxlength="50" required id="id_Nome" value='{{ escola_dados.Nome }}'>
            </div>

            <div>
                <label for="id_Email">Email:</label>
                <input type="email" name="Email" maxlength="254" required id="id_Email" value='{{ escola_dados.Email }}'>            
            </div>
            
            {% if Tipo_Transacao == 'INS' %}
                <div>
                    <label for="id_Nivel_Escolaridade">Nível Escolaridade:</label>
                    <select name="Nivel_Escolaridade" id="id_Nivel_Escolaridade" required>    
                        {% for nivel in Niveis %}
                            {% if escola_dados.Nivel_Escolaridade == nivel.0 %}
                                <option value="{{ nivel.0 }}" selected>{{ nivel.1 }}</option>
                            {% else %}
                                <option value="{{ nivel.0 }}" >{{ nivel.1 }}</option>
                            {% endif %}
                        {% endfor %}                
                    </select>
                </div>
            {% else %}
                <div>
                    <label for="id_Nivel_Escolaridade">Nível Escolaridade:</label>
                    <select name="Nivel_Escolaridade" id="id_Nivel_Escolaridade" disabled>    
                        {% for nivel in Niveis %}
                            {% if escola_dados.Nivel_Escolaridade == nivel.0 %}
                                <option value="{{ nivel.0 }}" selected>{{ nivel.1 }}</option>
                            {% else %}
                                <option value="{{ nivel.0 }}" >{{ nivel.1 }}</option>
                            {% endif %}
                        {% endfor %}                
                    </select>
                </div>
            {% endif %}
            
            
            <div>
                <label for="id_Tipo_Escola">Tipo da Escola:</label>
                <select name="Tipo_Escola" id="id_Tipo_Escola"> 
                    {% for tipo in Tipos %}
                        {% if escola_dados.Tipo_Escola == tipo.0 %}
                            <option value="{{ tipo.0 }}" selected>{{ tipo.1 }}</option>
                        {% else %}
                            <option value="{{ tipo.0 }}" >{{ tipo.1 }}</option>
                        {% endif %}
                    {% endfor %}
                </select>           
            </div>

            <div>
                <label for="id_Nota_de_Corte">Nota de corte de aprovação:</label>
                <input type="number" name="Nota_de_Corte" step="1" required id="id_Nota_de_Corte" maxlength="2" value='{{ escola_dados.Nota_de_Corte }}'>            
            </div>

            <div>
                <label for="id_Numero1">Telefone 1:</label>
                <input type="text" name="Numero1" maxlength="20" required id="id_Numero1" value='{{ telefone_dados.Numero1 }}'>
            </div>

            <div>
                <label for="id_Numero2">Telefone 2:</label>
                <input type="text" name="Numero2" maxlength="20" required id="id_Numero2" value='{{ telefone_dados.Numero2 }}'>
            </div>

            {% if Tipo_Transacao == 'UPD' %}
                <div>
                    <label for="id_ativo">Ativo:</label>
                    <select name="Situacao" id="id_ativo">
                        {% for item in STATUS %}
                            {% if escola_dados.Situacao == item.0 %}
                                <option value="{{ item.0 }}" selected>{{ item.1 }}</option>
                            {% else %}
                                <option value="{{ item.0 }}" >{{ item.1 }}</option>
                            {% endif %}
                        {% endfor %}       
                    </select>
                </div>
            {% endif %}
        
        </fieldset>

        <fieldset>
            <div>
                <label for="id_Rua">Rua:</label>
                <input type="text" name="Rua" maxlength="40" required id="id_Rua" value='{{ endereco_dados.Rua }}'>
            </div>

            <div>
                <label for="id_Numero">Número:</label>
                <input type="number" name="Numero" min="0" required id="id_Numero" value='{{ endereco_dados.Numero }}'>
            </div>

            <div>
                <label for="id_Bairro">Bairro:</label>
                <input type="text" name="Bairro" maxlength="40" required id="id_Bairro" value='{{ endereco_dados.Bairro }}'>
            </div>
            
            <div>
                <label for="id_Cidade">Cidade:</label>
                <input type="text" name="Cidade" maxlength="40" required id="id_Cidade" value='{{ endereco_dados.Cidade }}'>
            </div>
            
            <div>
                <label for="id_Estado">Estado:</label>
                <input type="text" name="Estado" maxlength="2" required id="id_Estado" value='{{ endereco_dados.Estado }}'>
            </div>

            <div>
                <label for="id_Complemento">Complemento:</label>
                <input type="text" name="Complemento" maxlength="100"  id="id_Complemento" value='{{ endereco_dados.Complemento }}'>
            </div>
            
            <div>
                <label for="id_Zona">Zona:</label>
                <select name="Zona" id="id_Zona">
                    {% for zona in zonas %}
                        {% if endereco_dados.Zona == zona.0 %}
                            <option value="{{ zona.0 }}" selected>{{ zona.1 }}</option>
                        {% else %}
                            <option value="{{ zona.0 }}" >{{ zona.1 }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </fieldset>


        <button type="submit">Salvar</button>
        <a href="{% url 'gestao_escolar_inicio' %}"> Voltar</a>
    </form>

{% endblock  %}