{% extends 'projeto/base/base.html' %}

{% block title %}Listagem da tabela de Disciplina x Professor | GEscolar{% endblock  %}


{% block main %}

    <h2>Listagem da tabela de Disciplina x Professor</h2> 
    
    <table>
        <thead>
            <tr>
                <th>Alt</th>
                <th>Disciplina</th>
                <th>Professor</th>
                <th>Aulas previstas</th>
            </tr>
        </thead>
        <tbody>
            {% for disciplina in disciplinas %}
                {% for leciona in lecionas %}

                    {% if lecionas is not None and disciplina.id == leciona.Matriz_Item.Disciplina.id %}
                        <tr>
                            {% if turma.AnoLetivo.Situacao == 'A' %}
                                <td><a href="{% url 'leciona_alterar' turma.id leciona.id %}">X</a></td>
                            {% else %}
                                <td>X</td>
                            {% endif %}
                            <td><a href="{% url 'leciona_consultar' turma.id leciona.id %}">{{ leciona.Matriz_Item.Disciplina.Nome }}</a></td>
                            <td>{{ leciona.Professor.Nome }}</td>
                            {% if leciona.Aulas_Previstas is not None %}
                                <td>{{ leciona.Aulas_Previstas }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endif %}

                {% endfor %}

            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'gerenciamento_turma_listagem' turma.id %}"> Voltar</a>
{% endblock  %}