{% extends 'projeto/base/base.html' %}

{% block title %}Listagem de Secretários | GEscolar{% endblock  %}


{% block main %}

    <h2>Listagem de Secretários</h2> 

    <form>
        <fieldset>
            <div>
                <label for="id_ativo">Status:</label>
                <select name="ativo" id="id_ativo">
                    {% for item in Filtro_Status %}
                        {% if status == item.0 %}
                            <option value="{{ item.0 }}" selected>{{ item.1 }}</option>
                        {% else %}
                            <option value="{{ item.0 }}" >{{ item.1 }}</option>
                        {% endif %}
                    {% endfor %}    
                    
                </select>
                
            </div>
            <button type="submit">Pesquisar</button>
        </fieldset>
        
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Alt</th>
                <th>Exc</Th>
                <th>Nome</th>
                <th>Sexo</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
            <a href="{% url 'secretario_novo' %}">Novo</a>
        </thead>
        <tbody>
            {% for secretario in secretarios %}
                <tr>
                    <td><a href="{% url 'secretario_alterar' secretario.id %}">X</a></td>
                    <td><a href="{% url 'secretario_deletar' secretario.id %}">X</a></td>
                    <td><a href="{% url 'secretario_consultar' secretario.id %}">{{ secretario.Nome }}</a></td>
                    <td>{{ secretario.Sexo }}</td>
                    <td>{{ secretario.Cpf }}</td>
                    <td>{{ secretario.Rg }}</td>
                    <td>{{ secretario.Usuario.email }}</td>
                    {% if secretario.Usuario.is_active %}
                        <td>Ativo</td>
                    {% else %}
                        <td>Inativo</th>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock  %}