{% extends 'projeto/base/base.html' %}

{% block title %}Listagem de Secretários | GEscolar{% endblock  %}


{% block main %}

    <h2>Listagem de Secretários</h2> 
    
    <table>
        <thead>
            <tr>
                <th>Alt</th>
                <th>Exc</Th>
                <th>Nome</th>
                <th>Sexo</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Email</th>
            </tr>
            <a href="#">Novo</a>
        </thead>
        <tbody>
            {% for secretario in secretarios %}
                {% if secretarios is not None %}
                    <tr>
                        <th>X</th>
                        <th>X</Th>
                        <th>{{ secretario.Nome }}</th>
                        <th>{{ secretario.Sexo }}</th>
                        <th>
                            {% if secretario.Cpf is not None %}
                                {{ secretario.Cpf }}                            
                            {% endif %} 
                        </th>
                        <th>
                            {% if secretario.Rg is not None %}
                                {{ secretario.Rg }}                            
                            {% endif %} 
                        </th>
                        <th>{{ secretario.Usuario.email }}</th>
                    </tr>
                {% else %}
                    <tr>
                        <th>X</th>
                        <th>X</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock  %}