{% extends 'projeto/base/base.html' %}

{% block title %}
    {% if Tipo_Transacao == 'INS' %}
        Cadastrar nova avaliação | GEscolar 
    {% elif Tipo_Transacao == 'UPD' %}
        Alterar avaliação | GEscolar 
    {% elif Tipo_Transacao == 'CON' %}
        Consultar avaliação | GEscolar
    {% elif Tipo_Transacao == 'DEL' %}
        Apagar avaliação | GEscolar
    {% endif %}
{% endblock  %}


{% block main %}

    {% if Tipo_Transacao == 'INS' %}
        <h2>Cadastrar avaliação</h2> 
    {% elif Tipo_Transacao == 'UPD' %}
        <h2>Atualizar dados do avaliação</h2> 
    {% elif Tipo_Transacao == 'CON' %}
        <h2>Consultar avaliação</h2> 
    {% elif Tipo_Transacao == 'DEL' %}
        <h2>Apagar avaliação</h2>
    {% endif %}

    {% for erro in erros %}
        {{ erro }}
    {% endfor %}

    <form action="
            {% if Tipo_Transacao == 'INS' %}
                {% url 'avaliacao_novo' turma.id %}
            {% elif Tipo_Transacao == 'UPD' %}
                {% url 'avaliacao_alterar' turma.id idAv %}
            {% elif Tipo_Transacao == 'CON' %}
                {% url 'avaliacao_consultar' turma.id idAv %}
            {% elif Tipo_Transacao == 'DEL' %}
                {% url 'avaliacao_deletar' turma.id idAv %}
            {% endif %}
        " method="POST">
        {% csrf_token %}

        {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
            <fieldset>
                <div>
                    <label for="id_Nome">Nome:</label>
                    <input type="text" name="Nome" maxlength="20" size="20" required id="id_Nome" value='{{ avaliacao_dados.Tema }}'>
                </div>

                <div>
                    <label for="id_Data">Data:</label> 
                    <input type="date" name="Data" required id="id_Data" value='{{ avaliacao_dados.Data|date:"Y-m-d" }}'>
                </div>

                {% if Tipo_Transacao == 'INS' %}
                    <div>
                        <label for="id_Leciona">Disciplina / Professor:</label> 
                        <select name="Leciona" id="id_Leciona" required>
                            {% for leciona in lecionas %}
                                {% if avaliacao_dados.Leciona.id == leciona.id %}
                                    <option value="{{ leciona.id }}" selected>{{ leciona.nome_editado }}</option>
                                {% else %}
                                    <option value="{{ leciona.id }}" >{{ leciona.nome_editado }}</option>
                                {% endif %}
                            {% empty %}
                                <option value="" ></option>
                            {% endfor %}       
                        </select>
                    </div>
                
                {% else %}
                    <div>
                        <label for="id_Leciona">Disciplina / Professor:</label> 
                        <select name="Leciona" id="id_Leciona" disabled>
                            {% for leciona in lecionas %}
                                {% if avaliacao_dados.Leciona.id == leciona.id %}
                                    <option value="{{ leciona.id }}" selected>{{ leciona.nome_editado }}</option>
                                {% else %}
                                    <option value="{{ leciona.id }}" >{{ leciona.nome_editado }}</option>
                                {% endif %}
                            {% empty %}
                                <option value="" ></option>
                            {% endfor %}       
                        </select>
                    </div>

                {% endif %}

                <div>
                    <label for="id_Turma">Turma:</label>
                    <input type="text" name="Turma" maxlength="20" size="20" disabled id="id_Turma" value='{{ turma.nome_editado }}'>
                </div>

            </fieldset>

        {% else %}
            <fieldset>
                <div>
                    <label for="id_Nome">Nome:</label>
                    <input type="text" name="Nome" maxlength="20" size="20" disabled id="id_Nome" value='{{ avaliacao_dados.Tema }}'>
                </div>

                <div>
                    <label for="id_Data">Data:</label> 
                    <input type="date" name="Data" disabled id="id_Data" value='{{ avaliacao_dados.Data|date:"Y-m-d" }}'>
                </div>

                <div>
                    <label for="id_Leciona">Disciplina / Professor:</label> 
                    <select name="Leciona" id="id_Leciona" disabled>
                        {% for leciona in lecionas %}
                            {% if avaliacao_dados.Leciona.id == leciona.id %}
                                <option value="{{ leciona.id }}" selected>{{ leciona.nome_editado }}</option>
                            {% else %}
                                <option value="{{ leciona.id }}" >{{ leciona.nome_editado }}</option>
                            {% endif %}
                        {% empty %}
                            <option value="" ></option>
                        {% endfor %}       
                    </select>
                </div>

                <div>
                    <label for="id_Turma">Turma:</label>
                    <input type="text" name="Turma" maxlength="20" size="20" disabled id="id_Turma" value='{{ turma.nome_editado }}'>
                </div>

            </fieldset>
        {% endif %}

        {% if Tipo_Transacao != 'INS' %}
            <table>
                <thead>
                    <tr>
                        <th>Aluno</th>
                        <th>Nota</Th>
                    </tr>
                </thead>

                <tbody id="tbody">
                    {% for aluno in alunos %}
                        {% for nota in notas %}
                            {% if aluno.id == nota.Nota_Bimestral.Nota_Final.Matricula_Turma.Aluno.id %}
                                <tr>   
                                    <td>{{ aluno.Nome }}</td>
                                    {% if Tipo_Transacao == 'UPD' %}
                                        <td><input type="number" name="Nota-{{ aluno.id }}" required max="10" min="0" value="{{ nota.Valor }}"></td>
                                        <td><input type="number" name="Peso-{{ aluno.id }}" required max="10" min="0" value="{{ nota.Peso }}"></td>
                                    {% endif %}
                                        <td><input type="number" name="Nota-{{ aluno.id }}" disabled max="10" min="0" value="{{ nota.Valor }}"></td>
                                        <td><input type="number" name="Peso-{{ aluno.id }}" disabled max="10" min="0" value="{{ nota.Peso }}"></td>
                                    {% else %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}           
                </tbody>
            </table>
        {% endif %}

        {% if bloqueio == False %}
            {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
                <button type="submit">Salvar</button>
            {% elif Tipo_Transacao == 'DEL' %}
                <button type="submit">Deletar</button>
            {% endif %}
        {% endif %}

        <a href="{% url 'gerenciamento_turma_listagem' turma.id %}"> Voltar</a>
    </form>

{% endblock  %}