{% extends 'projeto/base/base.html' %}
{% load filters %}

{% block title %}
    {% if Tipo_Transacao == 'INS' %}
        Cadastrar nova avaliação | GEscolar 
    {% elif Tipo_Transacao == 'UPD' %}
        Alterar avaliação | GEscolar 
    {% elif Tipo_Transacao == 'CON' %}
        Consultar avaliação | GEscolar
    {% elif Tipo_Transacao == 'DEL' %}
        Apagar avaliação | GEscolar
    {% endif %}
{% endblock  %}


{% block main %}

    {% if Tipo_Transacao == 'INS' %}
        <h2>Cadastrar avaliação</h2> 
    {% elif Tipo_Transacao == 'UPD' %}
        <h2>Atualizar dados da avaliação</h2> 
    {% elif Tipo_Transacao == 'CON' %}
        <h2>Consultar avaliação</h2> 
    {% elif Tipo_Transacao == 'DEL' %}
        <h2>Apagar avaliação</h2>
    {% endif %}

    {% for erro in erros %}
        {{ erro }}
    {% endfor %}

    <form action="
            {% if Tipo_Transacao == 'INS' %}
                {% url 'avaliacao_novo' turma.id %}
            {% elif Tipo_Transacao == 'UPD' %}
                {% url 'avaliacao_alterar' turma.id idAv %}
            {% elif Tipo_Transacao == 'CON' %}
                {% url 'avaliacao_consultar' turma.id idAv %}
            {% elif Tipo_Transacao == 'DEL' %}
                {% url 'avaliacao_deletar' turma.id idAv %}
            {% endif %}
        " method="POST">
        {% csrf_token %}

        {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
            <fieldset>
                <div>
                    <label for="id_Nome">Nome:</label>
                    <input type="text" name="Nome" maxlength="20" size="20" required id="id_Nome" value='{{ avaliacao_dados.Nome }}'>
                </div>

                <div>
                    <label for="id_Data">Data:</label> 
                    <input type="date" name="Data" required id="id_Data" value='{{ avaliacao_dados.Data|date:"Y-m-d" }}'>
                </div>

                <div>
                    <label for="id_Peso">Peso:</label>
                    <input type="number" name="Peso" id="id_Peso" required max="10" min="1" step=".1" value='{{ Peso }}'>
                </div>

                {% if Tipo_Transacao == 'INS' %}
                    <div>
                        <label for="id_Leciona">Disciplina / Professor:</label> 
                        <select name="Leciona" id="id_Leciona" required>
                            {% for leciona in lecionas %}
                                {% if avaliacao_dados.Leciona.id == leciona.id %}
                                    <option value="{{ leciona.id }}" selected>{{ leciona.nome_editado }}</option>
                                {% else %}
                                    <option value="{{ leciona.id }}" >{{ leciona.nome_editado }}</option>
                                {% endif %}
                            {% empty %}
                                <option value="" ></option>
                            {% endfor %}       
                        </select>
                    </div>
                
                {% else %}
                    <div>
                        <label for="id_Leciona">Disciplina / Professor:</label> 
                        <select name="Leciona" id="id_Leciona" disabled>
                            {% for leciona in lecionas %}
                                {% if avaliacao_dados.Leciona.id == leciona.id %}
                                    <option value="{{ leciona.id }}" selected>{{ leciona.nome_editado }}</option>
                                {% else %}
                                    <option value="{{ leciona.id }}" >{{ leciona.nome_editado }}</option>
                                {% endif %}
                            {% empty %}
                                <option value="" ></option>
                            {% endfor %}       
                        </select>
                    </div>

                {% endif %}

                <div>
                    <label for="id_Turma">Turma:</label>
                    <input type="text" name="Turma" maxlength="20" size="20" disabled id="id_Turma" value='{{ turma.nome_editado }}'>
                </div>

            </fieldset>

        {% else %}
            <fieldset>
                <div>
                    <label for="id_Nome">Nome:</label>
                    <input type="text" name="Nome" maxlength="20" size="20" disabled id="id_Nome" value='{{ avaliacao_dados.Tema }}'>
                </div>

                <div>
                    <label for="id_Data">Data:</label> 
                    <input type="date" name="Data" disabled id="id_Data" value='{{ avaliacao_dados.Data|date:"Y-m-d" }}'>
                </div>

                <div>
                    <label for="id_Peso">Peso:</label>
                    <input type="number" name="Peso" id="id_Peso" disabled max="10" min="1" value='{{ Peso }}'>
                </div>

                <div>
                    <label for="id_Leciona">Disciplina / Professor:</label> 
                    <select name="Leciona" id="id_Leciona" disabled>
                        {% for leciona in lecionas %}
                            {% if avaliacao_dados.Leciona.id == leciona.id %}
                                <option value="{{ leciona.id }}" selected>{{ leciona.nome_editado }}</option>
                            {% else %}
                                <option value="{{ leciona.id }}" >{{ leciona.nome_editado }}</option>
                            {% endif %}
                        {% empty %}
                            <option value="" ></option>
                        {% endfor %}       
                    </select>
                </div>

                <div>
                    <label for="id_Turma">Turma:</label>
                    <input type="text" name="Turma" maxlength="20" size="20" disabled id="id_Turma" value='{{ turma.nome_editado }}'>
                </div>

            </fieldset>
        {% endif %}

        {% if Tipo_Transacao != 'INS' %}
            <table>
                <thead>
                    <tr>
                        <th>Aluno</th>
                        <th>Nota</Th>
                    </tr>
                </thead>

                <tbody id="tbody">
                    {% for item in notas_alunos %}
                        <tr>   
                            <td>{{ item.Aluno.Nome }}</td>
                            {% if Tipo_Transacao == 'UPD' %}
                                <td><input type="number" name="Nota-{{ item.Aluno.id }}" required max="10" min="0" step="0.1" value="{{ item.Nota.Valor|numero_decimal }}"></td>
                            {% else %}
                                <td><input type="number" name="Nota-{{ item.Aluno.id }}" disabled max="10" min="0" step="0.1" value="{{ item.Nota.Valor|numero_decimal }}"></td>
                            {% endif %}
                        </tr>
                    {% endfor %}           
                </tbody>
            </table>
        {% endif %}

        {% if bloqueio == False %}
            {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
                <button type="submit">Salvar</button>
            {% elif Tipo_Transacao == 'DEL' %}
                <button type="submit">Deletar</button>
            {% endif %}
        {% endif %}

        <a href="{% url 'avaliacao_listagem' turma.id %}"> Voltar</a>
    </form>

{% endblock  %}