{% extends 'projeto/base/base.html' %}
{% load filters %}

{% block title %}
    {% if Tipo_Transacao == 'INS' %}
        Cadastrar nova avaliação | GEscolar 
    {% elif Tipo_Transacao == 'UPD' %}
        Alterar avaliação | GEscolar 
    {% elif Tipo_Transacao == 'CON' %}
        Consultar avaliação | GEscolar
    {% elif Tipo_Transacao == 'DEL' %}
        Apagar avaliação | GEscolar
    {% endif %}
{% endblock  %}


{% block main %}

    {% if Tipo_Transacao == 'INS' %}
        <h2><b>Cadastrar avaliação</b></h2>
    {% elif Tipo_Transacao == 'UPD' %}
        <h2><b>Atualizar dados da avaliação</b></h2>
    {% elif Tipo_Transacao == 'CON' %}
        <h2><b>Consultar avaliação</b></h2>
    {% elif Tipo_Transacao == 'DEL' %}
        <h2><b>Apagar avaliação</b></h2>
    {% endif %}

    <ul class="list-group list-group-flush mb-3 mt-3">
    {% for erro in erros %}
        <li class="list-group-item text-danger text-justify">{{ erro|tira_lista }}</li>
    {% endfor %}
    </ul>

    <form action="
            {% if Tipo_Transacao == 'INS' %}
                {% url 'avaliacao_novo' turma.id %}
            {% elif Tipo_Transacao == 'UPD' %}
                {% url 'avaliacao_alterar' turma.id idAv %}
            {% elif Tipo_Transacao == 'CON' %}
                {% url 'avaliacao_consultar' turma.id idAv %}
            {% elif Tipo_Transacao == 'DEL' %}
                {% url 'avaliacao_deletar' turma.id idAv %}
            {% endif %}
        " method="POST" class="form">
        {% csrf_token %}

        {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
            <fieldset class="container-fluid">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="id_Nome">Nome:</label>
                        <input type="text" name="Nome" maxlength="20" class="form-control" required id="id_Nome" value='{{ avaliacao_dados.Nome }}'>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="id_Data">Data:</label> 
                        <input type="date" name="Data" class="form-control" required id="id_Data" value='{{ avaliacao_dados.Data|data_retorno }}'>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="id_Peso">Peso:</label>
                        <input type="number" name="Peso" id="id_Peso" class="form-control" required max="9" min="1" step=".1" value='{{ Peso }}'>
                    </div>
                </div>

                <div class="row">  
                    {% if Tipo_Transacao == 'INS' %}
                        <div class="form-group col-md-6">
                            <label for="id_Leciona">Disciplina / Professor:</label> 
                            <select name="Leciona" id="id_Leciona" required class="form-control">
                                {% for leciona in lecionas %}
                                    {% if avaliacao_dados.Leciona.id == leciona.id %}
                                        <option value="{{ leciona.id }}" selected>{{ leciona.nome_editado }}</option>
                                    {% else %}
                                        <option value="{{ leciona.id }}" >{{ leciona.nome_editado }}</option>
                                    {% endif %}
                                {% empty %}
                                    <option value="" ></option>
                                {% endfor %}       
                            </select>
                        </div>
                    
                    {% else %}
                        <div class="form-group col-md-6">
                            <label for="id_Leciona">Disciplina / Professor:</label> 
                            <select name="Leciona" id="id_Leciona" disabled class="form-control">
                                {% for leciona in lecionas %}
                                    {% if avaliacao_dados.Leciona.id == leciona.id %}
                                        <option value="{{ leciona.id }}" selected>{{ leciona.nome_editado }}</option>
                                    {% else %}
                                        <option value="{{ leciona.id }}" >{{ leciona.nome_editado }}</option>
                                    {% endif %}
                                {% empty %}
                                    <option value="" ></option>
                                {% endfor %}       
                            </select>
                        </div>

                    {% endif %}

                    <div class="form-group col-md-4">
                        <label for="id_Turma">Turma:</label>
                        <input type="text" name="Turma" maxlength="20" class="form-control" disabled id="id_Turma" value='{{ turma.nome_editado }}'>
                    </div>
                </div>
            </fieldset>

        {% else %}
            <fieldset class="container-fluid">
                <div class="row"> 
                    <div class="form-group col-md-4">
                        <label for="id_Nome">Nome:</label>
                        <input type="text" name="Nome" maxlength="20" class="form-control" disabled id="id_Nome" value='{{ avaliacao_dados.Nome }}'>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="id_Data">Data:</label> 
                        <input type="date" name="Data" class="form-control" disabled id="id_Data" value='{{ avaliacao_dados.Data|data_retorno }}'>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="id_Peso">Peso:</label>
                        <input type="number" name="Peso" id="id_Peso" class="form-control" disabled max="10" min="1" value='{{ Peso }}'>
                    </div>
                </div>

                <div class="row"> 
                    <div class="form-group col-md-6">
                        <label for="id_Leciona">Disciplina / Professor:</label> 
                        <select name="Leciona" id="id_Leciona" disabled class="form-control">
                            {% for leciona in lecionas %}
                                {% if avaliacao_dados.Leciona.id == leciona.id %}
                                    <option value="{{ leciona.id }}" selected>{{ leciona.nome_editado }}</option>
                                {% else %}
                                    <option value="{{ leciona.id }}" >{{ leciona.nome_editado }}</option>
                                {% endif %}
                            {% empty %}
                                <option value="" ></option>
                            {% endfor %}       
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="id_Turma">Turma:</label>
                        <input type="text" name="Turma" maxlength="20" class="form-control" disabled id="id_Turma" value='{{ turma.nome_editado }}'>
                    </div>
                </div>
            </fieldset>
        {% endif %}

        {% if Tipo_Transacao != 'INS' %}
            <div class="table-responsive-lg"> 
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Aluno</th>
                            <th>Nota</Th>
                        </tr>
                    </thead>

                    <tbody id="tbody">
                        {% for item in notas_alunos %}
                            <tr>   
                                <td>{{ item.Aluno.Nome }}</td>
                                {% if Tipo_Transacao == 'UPD' %}
                                    <td class="form-group col-md-2"><input type="number" name="Nota-{{ item.Aluno.id }}" class="form-control" required max="10" min="0" step="0.1" value="{{ item.Nota.Valor|numero_decimal }}"></td>
                                {% else %}
                                    <td class="form-group col-md-2"><input type="number" name="Nota-{{ item.Aluno.id }}" class="form-control" disabled max="10" min="0" step="0.1" value="{{ item.Nota.Valor|numero_decimal }}"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}           
                    </tbody>
                </table>
            </div>
        {% endif %}

        <br>
        {% if bloqueio == False %}
            {% if Tipo_Transacao == 'INS' or Tipo_Transacao == 'UPD' %}
                <button type="submit" class="btn btn-primary">Salvar</button>
            {% elif Tipo_Transacao == 'DEL' %}
                <button type="submit" class="btn btn-danger">Deletar</button>
            {% endif %}
        {% endif %}
        <a href="{% url 'avaliacao_listagem' turma.id %}" class="btn btn-secondary"> Voltar</a>
        <br>

    </form>

{% endblock  %}