{% load static %}
<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>

    {% block linksEstaticos %} {% endblock %}
    {% block javascript %} {% endblock %}
</head>
<body>
    {% block cabecalho %}
        {% if user.is_authenticated %}
            <a href="{% url 'diretor_alterar' request.session.Pessoa %}">Diretor Alterar</a>
            <a href="{% url 'trocar_senha' request.session.Pessoa %}">Senha Alterar</a>
            <a href="{% url 'escola_novo' %}">Escola Novo</a>
            <a href="{% url 'secretario_listagem' %}">Secretário</a>
            <a href="{% url 'professor_listagem' %}">Professor</a>
            <a href="{% url 'aluno_listagem' %}">Aluno</a>
            <a href="{% url 'ano_listagem' %}">Ano Letivo</a>
            <a href="{% url 'disciplina_listagem' %}">Disciplina</a>
            <a href="{% url 'serie_listagem' %}">Série</a>
            <a href="{% url 'turma_listagem' %}">Turma</a>
            <a href="{% url 'logout' %}">Encessar Sessão</a>
            {{ user.username }}
        {% endif %}
    {% endblock  %}

    {% block main %}
    
    {% endblock %}


    {% block rodape %}
    
    {% endblock %}
    
</body>
</html>