{% load static %}
<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'projeto/style.css' %}">

    {% block linksEstaticos %} {% endblock %}
    {% block javascript %} {% endblock %}
</head>
<body>
    {% block cabecalho %}
        {% include "projeto/base/menu.html" %}
    {% endblock  %}

    
    <main class="main">
        {% block main %}
            
        {% endblock %}
    </main>


    {% block rodape %}
        {% include "projeto/base/rodape.html" %}
    {% endblock %}

    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>